<!----==========================main banner=======================-->
<section id="career-life-avend" class="career-life-avend">

    <div class="life-avend-banner" style="height:393px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="outer-valign">
                        <div class="inner-valign">
                            <div class="life-avend-bann-text">
                                <h1><b>.NET SOLUTIONS</b></h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================end os main benner=================================-->
<!-- --------------------------------MAIN CONTENT---------------------------- -->

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 mainContent ">


            <p>.Net is one of the premier technology by Microsoft to build simple to complex business websites and
                applications. Its one of the most used framework across the globe by small medium and big enterprises
                alike.</p>
            <p><strong>Advantages of .NET for Business Application Development:</strong></p>
            <ul>
                <li><strong>Less Coding and Increased Reuse of Code:</strong> This translates into less time and
                    consequently less cost to develop applications.</li>
                <li><strong> Easy and quick Deployment:</strong> leads to quicker time to market for business.</li>
                <li><strong> Reliability:</strong> Since its release in 2002, .NET has been used to develop thousands of
                    applications. Its performance on Microsoft® Windows Server™ 2003 and Windows 2000 Server is also
                    very stable and reliable.</li>
                <li><strong>Security:</strong> .NET offers enhanced application security</li>
                <li><strong>Use across Platforms and Languages:</strong></li>
                <li><strong> Use for Service-Oriented Architecture:</strong> .NET is often used for Web Services, which
                    are a solution for executing an SOA strategy.</li>
                <li><strong>Integration with Legacy Systems is done easily.</strong></li>
            </ul>

        </div>
    </div>
</div>
<!-- ----------------------------END MAIN CONTENT ------------------------ -->
<!-- ----------------------START CARD------------------------------------- -->

<div class="block-section section-3">
    <div class="container">
        <div class="row">
            <div class="main-outer-box">
                <div class="unit-class">

                    <div class="box">

                        <div class="field-wrapper">
                            <div class="box-img" style="background-image: url(../../assets/images/dotnet.jpg);
                                    background-size: 101% 107%;">
                            </div>
                            <div class="blog-text">
                                <h6>Customized Solution</h6>
                                <h5>January 2019</h5>
                                <h2>.NET CUSTOM SOLUTIONS</h2>
                                <p>We have over 100 years of combined .Net experience in our company.We can build simple
                                    to complex business applications for any client using DotNet framework from
                                    Microsoft.<br/>
                                    We provide end to end solution using .Net framework covering UI responsive design,
                                    optimal middle layer suited for good performance along with good Database design.
                                </p>


                                <!-- <span>Read Time: 4 minutes</span> -->
                            </div>


                        </div>

                    </div>

                    <div class="box">

                        <div class="field-wrapper">
                            <!-- <div class="box-img" style="background-image: url(http://akscellenceinfo.com/media/1608/akscellence-bi_ana.jpg)"></div> -->
                            <div class="blog-text">
                                <h6>Customized Solution</h6>
                                <h5>January 2019</h5>
                                <h2>PROJECTS DELIVERED IN .NET</h2>
                                <p>Below are few of the complex projects we have developed in .NET</p>
                                <ul>
                                    <li>Designed and Developed BOM Editor enterprise application in .NET to extend Oracle BOM functionality</li>
                                    <li>Using .NET and Sitecore, developed an Enterprise Content Management System (ECM) for USA based manufacturing client</li>
                                </ul>
                                <!-- <span>Read Time: 4 minutes</span> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-section">
    <div class="container">
      <div class="row">
        <div class="main-outer-box">
          <div class="unit-class">
            <div class="box">
              <a href="https://blog.akscellenceinfo.com/BI/Analytics-Beyond-Spreadsheet">
                <div class="field-wrapper">
                  <div class="blog-text">
                    <h6>BI Analytics</h6>
                    <h5>January 2019</h5>
                    <h2>Analytics Beyond Spreadsheet</h2>
                    <p>
                      While Microsoft Excel and other spreadsheets have existed now for many years, 
                      spreadsheets aren't always the right tools for many BI tasks. BI as a concept has been around since quite a time,
                       but it has now evolved from basics to much more sophisticated platform
                    </p>
                    <span>Read Time: 4 minutes</span>
                  </div>
                  <div
                    class="box-img" >
                <img src="../../assets/images/akscellence-bi.png" class="bicardimage1" id="bicardim1"style=" height: 448px;
                width: 477px;
                background-size: cover;
                padding-right: -16px;
                margin-right: -37px;
                margin-left: 0;
                overflow: unset;
                margin-top: -55px;"/>
                </div>
                </div>
              </a>
            </div>
  
            <div class="box box-margin">
              <a href="https://blog.akscellenceinfo.com/BI/Why-Traditional-BI-failing-to-resolve-Business-problems?">
                <!-- <div class="box-img" style="background-image: url(./img/concept-cms-content-management-system-450w-663091237.jpg)"></div> -->
                <div class="field-wrapper">
                  <div class="blog-text">
                    <div class="box-img" style="background-image: url()"></div>
                    <h6>BI Analytics</h6>
                    <h5>January 2019</h5>
                    <h2>Why Traditional BI failing to resolve Business problems?</h2>
                    <p>
                      The goal of Business Intelligence is to provide right-time
                      information to management and function as a decision support
                      mechanism. Below are few challenges in using Traditional
                      Business Intelligence techniques.
                      <span>Read Time: 7 minutes</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
  
          <div class="unit-class"></div>
  
         
        </div>
      </div>
    </div>
  </div>
