<section id="career-life-avend" class="career-life-avend">
  <div class="life-avend-banner" title="Akscellence FAQ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="outer-valign">
            <div class="inner-valign">
              <div class="life-avend-bann-text">
                <h1><b>FAQs</b></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<div class="section-padding" style="font-family: CoreSansR25Light;">
  <div class="container demo">
    <div>
      <div class="panel panel-default" *ngFor="let faq of faqs; let i = index">
        <div
          class="panel-heading"
          role="tab"
          id="headingOne"
          style="    color: white;
                background: #286090;border-color: black;"
        >
          <h4 class="panel-title" style="font-size:19px;">
            <a
              role="button"
              data-toggle="collapse"
              data-parent="#accordion"
              aria-expanded="true"
              aria-controls="collapseOne"
              (click)="toggle(i)"
            >
              <!-- <i class="{{ glyphicon }}"></i> -->
              <li class="{{ faq.icon }}"></li>
              {{ faq.header }}
            </a>
          </h4>
        </div>

        <div
          role="tabpanel"
          class="panel-body"
          style="background-color:white;color:#000000;font-size:17px;"
          aria-labelledby="headingOne"
          *ngIf="faqID == i"
        >
          <div [innerHtml]="faq.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
