<footer>
  <div class="container">
    <div class="row links-footer">
      <div class="col-xs-6 foot-div">
        <h4>Discover us</h4>

        <a routerLink="aboutus">
          <p>About us</p>
        </a>
        <a routerLink="life-at-Aks">
          <p>Life At Akscellence</p>
        </a>
        <a href="http://blog.akscellenceinfo.com/">
          <p>Blogs</p>
        </a>
        <a routerLink="faq">
          <p>FAQS</p>
        </a>
      </div>
      <div class="col-xs-6 foot-div">
        <h4>What We Do</h4>
        <a routerLink="bi-analytics">
          <p>BI & Analytics</p>
        </a>
        <a routerLink="Integration-Solutions">
          <p>Integration Solutions</p>
        </a>
        <a routerLink="eCommerce">
          <p>eCommerce</p>
        </a>
        <a routerLink="CMS-Solution">
          <p>CMS Solution</p>
        </a>
        <a routerLink="sitecore">
          <p>Sitecore Services</p>
        </a>
        <a routerLink=".Net-Solution">
          <p>.Net Solution</p>
        </a>
      </div>
      <div class="col-xs-6 foot-div">
        <a routerLink="career">
          <h4>Career</h4>
        </a>
        <a routerLink="/careers">
          <p>Current Opening</p>
        </a>
        <a routerLink="/experience-professional">
          <p>Experienced <br />Professionals</p>
        </a>
      </div>
      <div class="col-xs-6 foot-div">
        <a routerLink="contactus">
          <h4>Contact us</h4>
        </a>
        <a routerLink="contactus">
          <p>India</p>
        </a>
        <a routerLink="contactus">
          <p>USA</p>
        </a>
      </div>
      <div class="col-xs-6 foot-div">
        <div class="social-icons">
          <a href="https://twitter.com/akscellence" target="_blank" >
            <img
              src="../../assets/images/twittericon.PNG" alt="akscellence twitter"
              style="border-radius: 30px;    margin-right: 7px;"
            />
          </a>
          <a
            href="https://www.linkedin.com/company/akscellence/" 
            target="_blank"
            ><img
              src="../../assets/images/linkedinicon.PNG" alt="akscellence linkedin"
              style="    border-radius: 30px;
       margin-right: 7px;"
          /></a>

          <a href="https://www.facebook.com/pg/akscellence" target="_blank"
            ><img
              src="../../assets/images/ny.jpg" alt="akscellence facebook"
              style="    border-radius: 30px;    margin-right: 31px;"
          /></a>
        </div>
        <a
          class="navbar-brand"
          routerLink=""
          style="font-family:UniviaProRegular;"
          >AKSCELLENCE</a
        >
      </div>
    </div>

    <div class="row footer-bottom">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <h6>
          Copyright © 2020 All rights reserved.Akscellence Info Solutions
          LLP./LLC.
        </h6>
      </div>
      <div class="col-md-6 offset-xs-3 col-xs-9 col-sm-6">
        <h5>
          <a routerLink="/sitemap.xml" target="_blank"> sitemap </a> |
          <a routerLink="/Usersitemap" target="_blank">  HTML sitemap </a> |
          <a routerLink="policy">Privacy Policy</a>
        </h5>
      </div>
    </div>
  </div>
</footer>
