<section id="eye-inside" class="eye-inside">
        <div class="eye-inside-banner" title="Sitecore Features" style="background-image: url(../../assets/images/sitecore-commerce2.jpg);" >
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="outer-valign">
                                <div class="inner-valign">
                                    <div class="ei-bann-text">
                                        <h6>Sitecore Services</h6>
                                        <h1>EXPLORING NEW FEATURES IN SITECORE 9.1</h1>
                                        <p>January 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---end of section1--->
        <div class="icon-bar wow fadeIn hidden-xs hidden-sm" data-wow-delay="1s" data-wow-duration="2s" id="icon-bar"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
            <a class="share">
                <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
            </a>
            <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
    
            <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="container eye-inside-info">
            <div class="row">
                <div class="col-md-9">
                    <div class="ei-info-bg wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="icon-bar wow fadeIn visible-xs visible-sm animated" data-wow-delay="1s"
                            data-wow-duration="2s" id="icon-bar"
                            style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                            <a class="share">
                                <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
                            </a>
                            <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
    
                            <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                        <p class="ei-time">Read Time: 5 minutes <a (click)="onclick()"><span
                                    style="float: right;background: white; "> <button style="border-color: black;
                                      border-radius: 4px;
                                      background: white;"><b style="color:red;">X</b></button></span></a></p>
                     <div class="ei-desc">
                            <p> 
                        Sitecore 9.1 is out with some exciting features having impact on stakeholders like back-end developer, 
                        front-end developer, infrastructure team, marketers, business owners etc. Let’s go through major new 
                        features of Sitecore 9.1 <br>
                        <br>
                        1. SIF 2.0<br>
                        
                        With Sitecore 9 release, Sitecore also released PowerShell based installation framework which always 
                        have been trickier than previous version. With SIF 2.0, Sitecore not only has fixed issues in earlier 
                        version but added new capabilities. SIF 2.0 has ability to install all prerequisite required for installation.
                        This is still not one click install but quite close to that. Following are steps to install Sitecore 9.1<br>
                        </p><ol>
                        <li>Install .Net core 2.1 runtime/li&gt;
                        </li><li>Install Solr 7.2.1 with SSL/li&gt;
                        </li><li>Install prerequisite/li&gt;
                        </li><li>Install Sitecore</li> <br>
                        </ol>
                        <br>
                        2. Sitecore Host Base<br>
                        
                        Sitecore has extracted the services from Sitecore.Kernel into individual independent services like caching,
                        messaging, logging etc. Sitecore host is the new starting point for developers and provides
                        only the core services of the platform. Sitecore Host ensures that services and apps have 
                        a uniform deployment, allowing them to have a lean common run-time and configuration compared 
                        to earlier monolithic structure and mixing libraries and configurations.<br> 
                        <br>
                        3. Sitecore Identity<br>
                        
                        For authentication, Sitecore used to have simple implementation of ASP.NET membership based forms 
                        authentication and was coupled with Sitecore CMS. 
                        All authentication in Sitecore 9.1 is handled by a separate standalone 
                        .NET Core application. The .NET core app is based on the IdentityServer4 framework and
                        supports Single Sign-On with OpenID. Identity streamlines login processes for not only
                        Sitecore, but potentially for other applications that run alongside Sitecore.<br>
                        
                        <br>
                        
                        4. Sitecore JavaScript Services – Headless<br>
                        
                        The purpose of headless development is to ensure that user-generated content is always abstracted away 
                        from presentational markup and delivery. Sitecore has always been a headless architecture but for backend developers. 
                        Sitecore JSS is new programming framework which makes front end developer first class citizen.<br>
                        <br>
                        Front End developers can have access to pure content without all the overhead that comes with a Sitecore installation. 
                        Sitecore eCommerce application where services are supported through the API and delivered vis JSS can use web content management API directly.
                        Front End developers can now develop and deploy their code to any platform using their own languages and frameworks of choices.
                        Their solution can be fully disconnected from Sitecore and be self-contained which allows easy management and deployment.<br>
                        <br>
                        5. Sitecore Experience Accelerator (SxA)<br>
                        
                        Sitecore Experience Accelerator or SXA is a quicker way to launch a Sitecore website which allows content teams 
                        to design, build, and deploy content on an omni-channel level, with fewer development resources than would normally
                        be experienced. In 9.1, SXA offers WCAG 2.0 compliant websites creation featuring some key accessibility features:<br>
                        <br><ul>
                        <li>Validates that pages with out-of-the-box (OOTB) mark-up are accessible by users of screen readers</li>
                        <li>Ensures components can be configured for people with disabilities</li>
                        <li>Populates, by default, the image “Alt” field so that it that can be read by screen readers</li>
                        <li>Provides large clickable actions for people with motor disabilities</li>
                        <li>Provides guidelines to designers and authors </li>
                        </ul>
                        <br>
                        6. Machine Learning – Cortex<br>
                        
                        Sitecore Cortex is a Machine Learning engine for generating real-time insights by allowing flexible integration with 
                        other ML engines and algorithms such as Salesforce Marketing Cloud, Einstein, or IBM Watson. 
                        New feature in 9.1 called Content Tagging is one use case of machine learning that creates information taxonomies used
                        in automated personalization recommendations.<br> 
                        <br>
                        7. Sitecore Forms Enhancement<br>
                        
                        In Sitecore 9.1, Sitecore not only has fixed issue in previous version but also added some exciting features 
                        like ability to add conditions to the form elements and pre-filling of form fields with relevant data. 
                        It allows the users to change existing data and it also allows the pre-filling of fields to prevent users from having to re-enter data.<br>
                        <br>
                        8. Content Tagging<br>
                        
                        Content tagging is a new feature in Sitecore 9.1 that allows integration with machine learning processing engines using Cortex. 
                        On each item, under Standard Fields, there is a new “Tagging” section that allows tags to be assigned to your content. 
                        Content authors will be able to take advantage of automatic content tagging capabilities which are automatically
                        generated for authors using the Tag Item button in the ribbon.<br>
                        <br>
                        9. Horizon<br>
                        
                        Horizon allows content experiences with real-time insights on where content generates value. 
                        Sitecore’s next-generation web content editing user experience, known as “Horizon,” has been unlocked for all core editing use cases.
                        Horizon changes the way marketers design pages, with an intuitive drag-and-drop interface, device-specific previews and analytics
                        that provide real-time contextual insights as content is created and published.
                        The streamlined interface relieves productivity constraints on content authors 
                        and editors and enables a truly data-driven approach to experience development.<br>
                        <br>
                        10. Other enhancements
                        
                        
                        
                        <p></p>
                                </div>
                        <span class="eye-author">Author:Mr. Ashish sharma</span>
    
                        <div class="text-right">
                            <!-- <a class="btn btn-default ei-next-prev-btn"
                                                         href="https://www.avendus.com/india/avendus-eye/esg-launch-with-melissa-brown"
                                                         role="button">Next</a> -->
                            <!-- <a [routerLink]="['/sitecore-experience-commerce-implementation]">
                                <button class="sim-button button-white"><span>Previous</span></button>
                            </a> -->
                            <a [routerLink]="['/Sitecore-deployment']">
                                <button class="sim-button button-white"><span>Previous</span></button>
                            </a>
                            <a [routerLink]="['/more-revenue-for-video-content-company']">
                                <button class="sim-button button-white"><span>Next</span></button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="ei-read-more text-center">Read More</h2>
    
                    
                   
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/more-revenue-for-video-content-company']">
                            <p>January 2019</p>
                            <h3>Generate More Revenue of Video content company with better Customer experience</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/sitecore-experience-platform-implementation']">
                            <p>January 2019</p>
                            <h3>Sitecore Experience Platform Implementation</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/sitecore-experience-commerce-implementation']">
                            <p>January 2019</p>
                            <h3>Sitecore Experience Commerce Implementation</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                            <a [routerLink]="['/Sitecore-and-Other-CMS']">
                                <p>January 2019</p>
                                <h3>Sitecore vs. Other CMS</h3>
                                <p class="ei-read-time">Read Time: 4 minutes</p>
                            </a>
                        </div>
                        <div class="ei-read-blocks">
                                <a [routerLink]="['/Sitecore-deployment']">
                                    <p>January 2019</p>
                                    <h3>Sitecore deployment strategies</h3>
                                    <p class="ei-read-time">Read Time: 4 minutes</p>
                                </a>
                            </div>
                    <div>
                        <a (click)="onclick()" role="button">
                            <button class="sim-button button-black">
                                <span>View All</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>