<section id="client" style="background: black;">
    <h1 class=".client-section client-heading ">Our Clientele/Partners</h1>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="client2">
                    <div class="container-fluid" id="clientContainer">
                        <div class="row">
                            <div class="client-content col-md-12">
                                <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://www.ibm.com/in-en" target="_blank">
                                        <img id="clientImage" src="../../assets/images/Client/IBM1.png" alt="IBM logo"
                                            class="IBMclientImage" caption="Akscellence Client" style="width: 25%; margin-top: 5%;">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://www.ge.com/" target="_blank">
                                        <img id="clientImage" src="../../assets/images/Client/GE-logo.jpg" alt="GE Logo"
                                            class="GEclientImage" caption="Akscellence Client"
                                            style="width: 25%; margin-top: 4%;">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="http://prismjohnson.in/" target="_blank">
                                        <img id="clientImage" src="../../assets/images/Client/PrismJohnson.jpg"
                                            alt="PrismJohnson" class="" caption="Akscellence Client"
                                            style="width: 50%; margin-top: 10%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="item ">
                <div class="client2">
                    <div class="container-fluid" id="clientContainer">
                        <div class="row">
                            <div class="client-content col-md-12">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://www.regalbeloit.com/" target="_blank">
                                        <img src="../../assets/images/Client/Regal.png" id="clientImage"
                                            alt="Regal Beloit" class="" caption="Akscellence Client"
                                            style="margin-top: 10%;">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="//www.antzmcs.com/" target="_blank">
                                        <img src="../../assets/images/Client/antz.jpg" id="clientImage"
                                            alt="Antz make is salar Logo" class="" caption="Akscellence Client"
                                            style="width: 25%; margin-top: 10%;">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://b2bsoft.com/" target="_blank">
                                        <img src="../../assets/images/Client/b2b.png" id="clientImage"
                                            alt="B2B Soft Logo" class="" caption="Akscellence Client"
                                            style="width: 25%; margin-top: 8%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="item ">
                <div class="client2">
                    <div class="container-fluid" id="clientContainer">
                        <div class="row">
                            <div class="client-content col-md-12">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://songdew.com/" target="_blank">
                                        <img src="../../assets/images/Client/songdew.jpg" id="clientImage"
                                            alt="SongDew Logo" class="" caption="Akscellence Client"
                                            style="width: 35%; margin-top: 8%;">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="http://www.buywithexpert.com/" target="_blank">
                                        <img src="../../assets/images/Client/buy.png" id="clientImage"
                                            alt="Buy with Expert" class="" caption="Akscellence Client"
                                            style="width: 35%; margin-top: 8%;">

                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://www.indoasiancommodities.com/" target="_blank">
                                        <img src="../../assets/images/Client/Indoasiancommodities.jpg" id="clientImage"
                                            alt="Indoasiancommodities Logo" class="" caption="Akscellence Client"
                                            style="width: 35%; margin-top: 8%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="item ">
                <div class="client2">
                    <div class="container-fluid" id="clientContainer">
                        <div class="row">
                            <div class="client-content col-md-12">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="http://niine.com/" target="_blank">
                                        <img src="../../assets/images/Client/Niine.jpg" id="clientImage"
                                            alt="Niine Logo" class="" caption="Akscellence Client" style="width: 20%; margin-top: 8%;">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://www.dvarakgfs.com/" target="_blank">
                                        <img src="../../assets/images/Client/dvara-logo.png" id="clientImage"
                                            alt="DVARA Logo" class="" caption="Akscellence Client"
                                            style="width: 35%; margin-top: 8%;">

                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <a href="https://www.manyavar.com/" target="_blank">
                                        <img src="../../assets/images/Client/manyavar.png" id="clientImage"
                                            alt="Manyavar Logo" class="" caption="Akscellence Client"
                                            style="width: 35%; margin-top: 8%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" style="color: black;"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" style="color: black;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>


<!-- =========================================END CLIENTs====================== -->