<div class="container">
    <div class="row">
        <br/>
        <br/>
        <br/>
        <br/>
        <iframe width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTJkMzVlYjItY2QwMi00YWU0LWIzMTAtODRlMGJkZDhlM2NjIiwidCI6ImZiZTgzNWI5LTE1NGMtNDJiNC04YzYwLTFlNjkzY2Y0NDJmNSJ9" frameborder="0" allowFullScreen="true"></iframe>
        <br/>
        <br/>
        <br/>
        <br/>
        <iframe width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMzZhZGNiMzEtNmYwOS00YTY1LWE0ZTUtNWQyMTgzOTIyYzc2IiwidCI6ImZiZTgzNWI5LTE1NGMtNDJiNC04YzYwLTFlNjkzY2Y0NDJmNSJ9" frameborder="0" allowFullScreen="true"></iframe>
        <br/>
        <br/>
        </div>
</div>