<section id="eye-inside" class="eye-inside">
        <div class="eye-inside-banner" title="reports vs Analytics" style="background-image: url(../../assets/images/akscellence-analatics.jpg);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="outer-valign">
                                <div class="inner-valign">
                                    <div class="ei-bann-text">
                                        <h6>bi & analytics</h6>
                                        <h1>Traditional reports vs. Analytics</h1>
                                        <p>January 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---end of section1--->
        <div class="icon-bar wow fadeIn hidden-xs hidden-sm" data-wow-delay="1s" data-wow-duration="2s" id="icon-bar"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
            <a class="share">
                <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
            </a>
            <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
    
            <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="container eye-inside-info">
            <div class="row">
                <div class="col-md-9">
                    <div class="ei-info-bg wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="icon-bar wow fadeIn visible-xs visible-sm animated" data-wow-delay="1s"
                            data-wow-duration="2s" id="icon-bar"
                            style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                            <a class="share">
                                <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
                            </a>
                            <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
    
                            <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                        <p class="ei-time">Read Time: 7 minutes <a (click)="onclick()"><span
                                    style="float: right;background: white; "> <button style="border-color: black;
                          border-radius: 4px;
                          background: white;"><b style="color:red;">X</b></button></span></a></p>
    
    <div class="ei-desc">
            <p> Reporting is the process of organizing data into informational summaries to monitor
                      business performance whereas Analytics is the process of exploring data and reports in 
                      order to extract meaningful insights, which can be used to better understand and improve business performance.
                       Let us dig more into their differences. </p>
          <p><img style="width: 500px; height: 89.7196261682243px;" src="/media/1218/analytics-blog-sanjay.png?width=500&amp;height=89.7196261682243" alt="" data-id="1558"></p>
      <table border="0" width="1032" style="border: 1px solid black; width: 750px;">
      <tbody>
      <tr style="border: 1px solid black;">
      <td width="510" style="background-color: orange; border-right: 1px solid black;">
      <p style="text-align: center;">Reports</p>
      </td>
      <td width="522" style="background-color: orange; border-right: 1px solid black;">
      <p style="text-align: center;">Analytics</p>
      </td>
      </tr>
      <tr style="border: 1px solid black;">
      <td width="510" style="border: 1px solid black; border-right: 1px solid black;">
      <p>Reporting is “the process of organizing data into informational summaries to monitor business performance”.</p>
      </td>
      <td width="522">
      <p>Analytics is “the process of exploring data and reports in order <strong>to extract meaningful insights</strong>, which can be used to <strong>better understand and improve business performance</strong>.”</p>
      </td>
      </tr>
      <tr style="border: 1px solid black;">
      <td width="510" style="border-right: 1px solid black;">
      <p>Reporting <strong>raises questions</strong></p>
      </td>
      <td width="522">
      <p>Analysts <strong>attempt to answer</strong> them and explain the “why?” and the “so what?”</p>
      </td>
      </tr>
      <tr style="border: 1px solid black; border-right: 1px solid black;">
      <td width="510" style="border-right: 1px solid black;">
      <p>Reporting provides you with <strong>information</strong></p>
      </td>
      <td width="522">
      <p>Analytics gives you <strong>insights</strong></p>
      </td>
      </tr>
      <tr style="border: 1px solid black; border-right: 1px solid black;">
      <td width="510" style="border-right: 1px solid black;">
      <p>Reporting <strong>measures core metrics</strong> and does its static presentation</p>
      </td>
      <td width="522">
      <p><strong>Analytics is dynamic investigation</strong> into the data, you can derive real-life recommendations about your business</p>
      </td>
      </tr>
      <tr style="border: 1px solid black; border-right: 1px solid black;">
      <td width="510" style="border-right: 1px solid black;">
      <p>Example:</p>
      <p>Total Cancelled Orders over time</p>
      </td>
      <td width="522">
      <p>Example:</p>
      <p>Who are the TOP 10 Customers/Dealers who did maximum order cancellations?</p>
      <p>Which are TOP 10 Warehouses from where maximum orders got cancelled?</p>
      <p>What are TOP 10 Product Items which are cancelled Mostly?</p>
      </td>
      </tr>
      </tbody>
      </table>
      
                </div>
                        <span class="eye-author">Author: Mr. Sanjay Kumar</span>
    
                        <div class="text-right">
                            <!-- <a class="btn btn-default ei-next-prev-btn"
                                             href="https://www.avendus.com/india/avendus-eye/esg-launch-with-melissa-brown"
                                             role="button">Next</a> -->
                                             <a [routerLink]="['/Power-BI-service']">
                                <button class="sim-button button-white"><span>Previous</span></button>
                            </a>
                            <a [routerLink]="['/failure-of-traditional-bi']">
                                <button class="sim-button button-white"><span>Next</span></button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="ei-read-more text-center">Read More</h2>
                   
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/failure-of-traditional-bi']">
                            <p>January 2019</p>
                            <h3>Failure of traditional business intelligence</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/Analytics-Beyond-Spreadsheet']">
                            <p>January 2019</p>
                            <h3>Analytics Beyond Spreadsheet</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/Market-for-BI-Data-Analytics']">
                            <p>January 2019</p>
                            <h3>Market for BI & Data Analytics</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                            <a [routerLink]="['/Power-BI-service']">
                                <p>January 2019</p>
                                <h3>Power BI service</h3>
                                <p class="ei-read-time">Read Time: 4 minutes</p>
                            </a>
                        </div>
                    <div>
                        <a (click)="onclick()" role="button">
                            <button class="sim-button button-black">
                                <span>View All</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>`
        </div>
    </section>