<!-----------------------------EXPERIENCED PROFESSIONAL-------------------------------------------------------------------------->
<div id="section_1">
    <div class="exp-prof-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="outer-valign">
                        <div class="inner-valign">
                            <div class="exp-prof-bann-text">
                                <h1>Experienced Professionals</h1>
                                <p>Take your career to the next level</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section_2">
    <div class="container exp-prof-desc">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>We look for high quality talent who can leverage their experience and work with high performing
                    teams to add significant value to our clients – join us to take your skills and experience to
                    the next
                    level. </p>
            </div>
        </div>
    </div>
</div>

<div id="section_3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Why Akscellence?</h1>
            </div>
            <div class="col-md-6 col-sm-12">
                <h6>Be a Part of a High Performing Culture</h6>
                <p>You will be a part of dynamic teams that continuously deliver high-quality output. You will work
                    alongside some of the best professionals in IT services and have fun while you are at it.</p>
                <h6>Have an Impact on the Industry</h6>
                <p>We work relentlessly to deliver top quality outcomes to our clients. You will raise the bar by
                    solving complex problems and adding significant value to our clients and industry.</p>
            </div>
        </div>
    </div>
</div>

<div id="section_4">
    <div class="container">
        <div class="row row-1">
            <div class="col-md-12">
                <h1>Programs</h1>
            </div>
        </div>
        <div class="row stud-grad-prog-blocks">
            <div class="col-md-4 col-md-offset-2 col-sm-6">
                <div class="stud-grad-prog-content">
                    <h1>Intern Program</h1>
                    <h6>Program Type</h6>
                    <p>Internship</p>
                    <h6>Eligibility</h6>
                    <p>
                        Our Intern Program is open to final year B.Tech/B.E students looking to build a career in the IT
                        services.
                    </p>
                    <a routerLink="/contactus">
                        <button class="sim-button button-black"><span>Apply Here
                            </span></button>
                        <!-- <button type="button" class="btn btn-primary grey-banner-apply">Apply Now</button> -->
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="stud-grad-prog-content">
                    <h1>Software Engineer Program</h1>
                    <h6>Program Type</h6>
                    <p>Technical</p>
                    <h6>Eligibility</h6>
                    <p>Our Software Engineer Program is ideally suited to candidates with at least a year of prior
                        experience. Fresh graduate students with coding background may also apply.
                    </p>
                    <a routerLink="/contactus">
                        <button class="sim-button button-black"><span>Apply Here</span></button>
                        <!-- <button type="button" class="btn btn-primary grey-banner-apply">Apply Now</button> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="section_5">
    <div class="container">
        <div class="row cep-life-avend-content">
            <div class="col-1 col-md-4 col-md-offset-1 col-sm-12 cep-life-left-text">
                <h1>Life At Akscellence</h1>
                <!-- <button type="button" class="btn btn-primary grey-banner-explore">explore</button> -->
                <a routerLink="/lifeatAkscellence"
                    class="sim-button button-white hidden-sm hidden-xs"><span>explore</span></a>
            </div>
            <div class="col-2 col-md-7 col-sm-12 cep-life-ryt-text">
                <h1>We care about our people<br class="hidden-xs">and offer you an ecosystem<br class="hidden-xs">that
                    enables you to build <br class="hidden-xs">a career with us.</h1>
                <a routerLink="/lifeatAkscellence"
                    class="sim-button button-white visible-sm visible-xs"><span>explore</span></a>
            </div>
        </div>

    </div>
</div>

<div id="section_6">

    <div class=" leadership-bann-section"
        style="height:4750x;background-image: url('../../assets/images/1.jpg')">
        <div class="container">
            <div class="row" style="height:500px;">
                <div class="col-md-12">
                    <div class="outer-valign">
                        <div class="inner-valign hidden-xs">
                            <h1 class="color-banner" style="margin-top:200px; color:#1f1f1f;">SANJAY KUMAR</h1>
                            <h3 style="color:#1f1f1f;float:left;">Co-Founder and CEO</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section_7">
        <div class="csg-apply">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Join us at Akscellence</h1>
                        <a routerLink="/contactus" target="_blank"><button
                                class="sim-button button-red"><span>Apply Now</span></button></a>
                        <p>Connect with us on <span><a routerLink="/contactus">contact@akscellenceinfo.com</a></span> and we’ll get
                            in touch with you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------------------END EXPERIENCED PROFESSIONAL-------------------------------------------------------------------------->