

<div class=" leadership-bann-section"
    style="height:4750x;background-image: url('../../assets/images/2.jpg')">
    <div class="container">
        <div class="row" style="height:500px;">
            <div class="col-md-12">
                <div class="outer-valign">
                    <div class="inner-valign hidden-xs">
                        <h1 class="color-banner" style="margin-top:200px; color:black;">ASHISH SHARMA</h1>
                        <h3 style="color:black; float: left;">Co-Founder and CTO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content1"
    style="padding-left:183px;background-color: #000000;height: 100px;padding-top: 20px;padding-right: 190px;">
    <p style="font-size: 15.75px;line-height: 1.4;letter-spacing: 2px;padding-bottom: 10px;color: #fff;">Technology
        leader and Enterprise Architect with 20+ years experience in Microsoft technologies,
        Analytics and Cloud. Prior experience with IBM, HCL & Fidelity. Served clients like American Express,
        Fidelity, Wolters Kluwer, Regal Beloit.</p>
</div>
<br/>
<br/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="aks-section">
    <div class="container">
        <div class="row">
            <div class="aks-lead">Other Leaders</div>
            <div class="col-md-4">
                    <a routerLink="/leaderShip-Sanjay-Kumar">
                    <div class="aksinfo">
                        <img src="../../assets/images/sanjay-profile-pic.png" alt="" class="img-responsive aksc-people-img">
                        <div class="aks-people-text">
                            <h4 style="text-align:center;">SANJAY KUMAR</h4>
                            <p style="text-align:center;">CO-FOUNDER & CEO</p>
                            <div class="linking" style="text-align:center;">
                                <a href="https://www.linkedin.com/in/sanjayiit/" target="_blank"><img
                                        src="../../assets/images/1024px-linkedin_logosvg.png" style="max-width: 20%;" /></a>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                    <a routerLink="/leaderShip-Kamlesh-Jha">
                    <div class="aksinfo">
                        <img src="../../assets/images/img_5b0f9f15cdaf21.jpg" alt="" class="img-responsive aksc-people-img">
                        <div class="aks-people-text">
                            <h4 style="text-align:center;">KAMLESH JHA</h4>

                            <p style="text-align:center;">DELIVERY HEAD</p>
                            <div class="linking" style="text-align:center;">
                                <a href="https://www.linkedin.com/in/jhakamlesh/" target="_blank"><img
                                        src="../../assets/images/1024px-linkedin_logosvg.png" style="max-width: 20%;" /></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                    <a routerLink="/leaderShip-Pranay-Gupta" >
                    <div class="aksinfo">
                        <img src="../../assets/images/img_5bacde93aa7dc8.jpg" alt="" class="img-responsive aksc-people-img">
                        <div class="aks-people-text">
                            <h4 style="text-align:center;">PRANAY GUPTA</h4>

                            <p style="text-align:center;">PARTNER</p>
                            <div class="linking" style="text-align:center;">
                                <a href="https://www.linkedin.com/in/impranay/" target="_blank"><img
                                        src="../../assets/images/1024px-linkedin_logosvg.png" style="max-width: 20%;" /></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>