<div class="block-section">
  <div class="container">

    <div class="row">
      <div class="main-outer-box">
        <div class="unit-class">

          <div class="box">
            <a href="https://blog.akscellenceinfo.com/sitecore/Sitecore-Experience-Platform-Implementation">
              <div class="field-wrapper">


                <div class="blog-text">
                  <h6>Sitecore Services</h6>
                  <h5>January 2019</h5>
                  <h2> Sitecore Experience Platform Implementation</h2>
                  <p>Sitecore CMS is the robust content management system that scales for
                    enterprise needs. It provides deep data insights and delivers omni channel
                    personalized content in real time. Global brands turn to Sitecore for multisite and
                    multilingual content management at scale, with the flexibility that enterprises demand.
                  </p>
                  <span>Read Time: 4 minutes</span>
                </div>
                <div class="box-img" style="background-image: url(../../assets/images/akscellence-concept-cms-content-management-system.jpg); "></div>

              </div>
            </a>

          </div>

          <div class="box">
            <a href="https://blog.akscellenceinfo.com/sitecore/Sitecore-Experience-Platform-Implementation">
              <!-- <div class="box-img" style="background-image: url(http://akscellenceinfo.com/media/1611/akscellence-concept-cms-content-management-system.jpg)"></div> -->
              <div class="field-wrapper">

                <div class="blog-text">
                  <div class="box-img" style="background-image: url(../../assets/images/akscellence-concept-cms-content-management-system.jpg);
                          "></div>
                  <h6>Sitecore Services</h6>
                  <h5>January 2019</h5>
                  <h2> Sitecore CMS Key Features</h2>
                  <ul>
                    <li> Content editing with real-time personalization .</li>
                    <li> Managing multiple websites with content in several languages.</li>
                    <li> Advanced search options.</li>
                    <li> Multichannel support and Sitecore Mobile SDK.</li>
                    <li> Advanced experience analytics.</li>
                  </ul>
                  <span>Read Time: 7 minutes</span>
                </div>
              </div>
            </a>
          </div>

        </div>

        <div class="unit-class">


        </div>


        



        <div class="unit-class">

          <div class="box">
            <a href="https://blog.akscellenceinfo.com/sitecore/Sitecore-Experience-Commerce-Implementation">
              <div class="field-wrapper">
                <div class="box-img" style="background-image:url()"></div>
                <div class="blog-text">
                  <h6>Sitecore Services</h6>
                  <h5>January 2019</h5>
                  <h2>Sitecore Experience Commerce Implementation</h2>
                  <p> The ecommerce platform that transforms shoppers into lifelong customers. Sitecore Experience
                    Commerce lets you market in the context of your customers' current or past interactions with your
                    brand before, during and after the purchase.


                  </p>

                  <span>Read Time: 4 minutes</span>
                </div>
              </div>
            </a>
          </div>
          <div class="box">
            <a href="https://blog.akscellenceinfo.com/sitecore/Sitecore-Experience-Commerce-Implementation">
              <div class="field-wrapper">
                <div class="box-img" style="background-image: url(../../assets/images/akscellece-sitecore.jpg);
                          background-size: 101% 107%;"></div>
                <div class="blog-text">
                  <h6>Sitecore Services</h6>
                  <h5>January 2019</h5>
                  <h2>Key Sitecore Experience Commerce Features</h2>
                  <ul>

                    <li>Personalized shopping experiences.</li>
                    <li>Managing stock orders, prices, campaigns, customer profiles and product catalog.</li>
                    <li>Integrates product search, shopping cart interactions and purchase with customer data from
                      Sitecore XP.</li>
                  </ul>
                  <span>Read Time: 4 minutes</span>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>




  </div>
</div>