<section id="eye-inside" class="eye-inside">
    <div class="eye-inside-banner" title="sitecore implementation"
        style="background-image: url(../../assets/images/akscellence-concept-cms-content-management-system.jpg);">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="outer-valign">
                            <div class="inner-valign">
                                <div class="ei-bann-text">
                                    <h6>Sitecore Services</h6>
                                    <h1>Sitecore Experience Platform Implementation</h1>
                                    <p>January 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---end of section1--->
    <div class="icon-bar wow fadeIn hidden-xs hidden-sm" data-wow-delay="1s" data-wow-duration="2s" id="icon-bar"
        style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
        <a class="share">
            <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
        </a>
        <a href="https://www.facebook.com/pg/akscellence" class="facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div class="container eye-inside-info">
        <div class="row">
            <div class="col-md-9">
                <div class="ei-info-bg wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s"
                    style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="icon-bar wow fadeIn visible-xs visible-sm animated" data-wow-delay="1s"
                        data-wow-duration="2s" id="icon-bar"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                        <a class="share">
                            <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
                        </a>
                        <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    <p class="ei-time">Read Time: 5 minutes <a (click)="onclick()"><span
                                style="float: right;background: white; "> <button style="border-color: black;
                          border-radius: 4px;
                          background: white;"><b style="color:red;">X</b></button></span></a></p>

<div class="ei-desc">
        <p> Sitecore CMS is the robust content management system that scales for 
                  enterprise needs. It provides deep data insights and delivers omni channel 
                  personalized content in real time.&nbsp;Global brands turn to Sitecore for multisite and 
                  multilingual content management at scale, with the flexibility that enterprises demand.<br> 
        <br>
        <b>Sitecore CMS Key Features:</b><br>
          </p><ol>
          <li>Content editing with real-time  personalization .</li>
                 <li> Managing multiple websites with content in several languages.</li>
                 <li> Advanced search options.</li>
                 <li> Multichannel support and Sitecore Mobile SDK.</li>
                 <li> Advanced experience analytics.</li>
        </ol> <p></p>
            </div>
                    <span class="eye-author">Author:Mr. Ashish sharma</span>

                    <div class="text-right">
                        <!-- <a class="btn btn-default ei-next-prev-btn"
                                             href="https://www.avendus.com/india/avendus-eye/esg-launch-with-melissa-brown"
                                             role="button">Next</a> -->

                        <a [routerLink]="['/sitecore-experience-commerce-implementation']">
                            <button class="sim-button button-white"><span>Next</span></button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="ei-read-more text-center">Read More</h2>

                <div class="ei-read-blocks">
                    <a [routerLink]="['/sitecore-experience-commerce-implementation']">
                        <p>January 2019</p>
                        <h3>Sitecore Experience Commerce Implementation</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/Sitecore-and-Other-CMS']">
                        <p>January 2019</p>
                        <h3>Sitecore vs. Other CMS</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/Sitecore-deployment']">
                        <p>January 2019</p>
                        <h3>Sitecore deployment strategies</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/new-features-in-sitecore']">
                        <p>January 2019</p>
                        <h3>EXPLORING NEW FEATURES IN SITECORE 9.1</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/more-revenue-for-video-content-company']">
                        <p>January 2019</p>
                        <h3>Generate More Revenue of Video content company with better Customer experience</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div>
                    <a (click)="onclick()" role="button">
                        <button class="sim-button button-black">
                            <span>View All</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>`
    </div>
</section>