<div class="contaner-fluid" style="background:#efefef;">
    <h2 class=".client-section client-heading "><b style="font-weight:bold!important;">Client Testimonial</b></h2>
    <div class="container">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
                <!-- <li data-target="#myCarousel1" data-slide-to="3"></li> -->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="Testimonials">
                                <div class="tupr">

                                </div>
                                <div class="img"></div><img src="../../assets/images/0.jpg" alt="Akscellence testimonials" id="imgtestimonial">
                            </div>
                            <div class="col-md-6">
                                <div class="content">
                                    <p>
                                        <b> What would you say is unique about us, our services or our way of doing
                                            business?</b>
                                        <br>
                                        Akscellence Info Solutions has a great level of technical expertise, and
                                        very clear communications to effectively define and obtain objectives. They
                                        are able to quickly ramp up to support IT efforts from design,
                                        implementation and through deployment of complex business solutions.
                                    </p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content1">
                                    <p>
                                        <b>In what way or ways did we make it easy for you to do business with us?</b>
                                        <br>
                                        Akscellence Info Solutions provides attention to detail, commitment to the not
                                        just the project, but to the overarching goals of the organization, using solid
                                        processes and great personnel.
                                    </p>
                                    <p style="text-align: left;"><b>_J.Gary Thompson</b><br>
                                        IT Applications Architect<br>
                                        Certified Sitecore Developer<br>
                                        <b>RegalBeloit.com</b><br>
                                        <a href="https://www.linkedin.com/in/garythompson/" target="_blank"><img
                                                src="../../assets/images/1024px-linkedin_logosvg.png" alt="Akscellence testimonials"
                                                style="    max-width: 20%;" /></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="Testimonials">
                                <div class="tupr">

                                </div>
                                <div class="img"></div><img src="../../assets/images/0.jpg" alt="Akscellence testimonials" id="imgtestimonial">
                            </div>
                            <div class="col-md-6">
                                <div class="content3">
                                    <p>
                                        <b>Would you recommend us to others, and if so, why?</b>
                                        <br>
                                        I recommend Akscellence Info Solutions for any technical project, small or
                                        large,
                                        especially Sitecore and Sitecore ecommerce implementations.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content4">
                                    <p>
                                        <b>Should the opportunity arise, would you use our services again?</b>
                                        <br>
                                        I would work with Akscellence Info Solutions on any Sitecore or other IT project
                                        in
                                        the future, as I know they provide the right resources, the right attitude, and
                                        the
                                        right solutions.
                                    </p>
                                    <p style="text-align: left;"><b>_J.Gary Thompson</b><br>
                                        IT Applications Architect<br>
                                        Certified Sitecore Developer<br>
                                        <b>RegalBeloit.com</b><br>
                                        <a href="https://www.linkedin.com/in/garythompson/" target="_blank"><img
                                                src="../../assets/images/1024px-linkedin_logosvg.png" alt="Akscellence testimonials "
                                                style="max-width:20%;" /></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="item">

                    <div class="row">
                        <div class="col-md-12">


                            <div class="Testimonials">
                                <div class="tupr">

                                </div>
                                <div class="img"></div><img src="../../assets/images/antz.jpg" id="imgtestimonial" alt="Akscellence testimonials">
                            </div>
                            <div class="col-md-12">
                                <div class="content2">
                                    <p> Akscellence Info team did an exceptional job on recent projects for us. As I
                                        remember, they
                                        have been very productive with comprehensive knowledge. It's a pleasure
                                        working
                                        with
                                        them as
                                        they are very customer-service centric. They have very strong work ethics
                                        and
                                        unparalleled
                                        analytical and problem-solving skills.
                                    </p>
                                    <a href="http://www.antzmcs.com/"  target="_blank" style="color:black;" >
                                        <p style="text-align: right;"> <b>_Abhay Chaturvedi</b><br>
                                            <b>antzmcs.com</b><br>
                                            <img src="../../assets/images/1024px-linkedin_logosvg.png" alt="Akscellence testimonials"
                                                style="    float: right;max-width: 12%;" /></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" style="margin-left: -130px;"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="margin-right: -130px;"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>