<section id="eye-inside" class="eye-inside">
        <div class="eye-inside-banner" title="better Customer experience" style="background-image: url(../../assets/images/sitecore-logo.png);">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="outer-valign">
                                <div class="inner-valign">
                                    <div class="ei-bann-text">
                                        <h6>Sitecore Services</h6>
                                        <h1>Generate More Revenue of Video content company with better Customer experience</h1>
                                        <p>January 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---end of section1--->
        <div class="icon-bar wow fadeIn hidden-xs hidden-sm" data-wow-delay="1s" data-wow-duration="2s" id="icon-bar"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
            <a class="share">
                <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
            </a>
            <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
    
            <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="container eye-inside-info">
            <div class="row">
                <div class="col-md-9">
                    <div class="ei-info-bg wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="icon-bar wow fadeIn visible-xs visible-sm animated" data-wow-delay="1s"
                            data-wow-duration="2s" id="icon-bar"
                            style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                            <a class="share">
                                <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="" />
                            </a>
                            <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
    
                            <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                        <p class="ei-time">Read Time: 5 minutes <a (click)="onclick()"><span
                                    style="float: right;background: white; "> <button style="border-color: black;
                                      border-radius: 4px;
                                      background: white;"><b style="color:red;">X</b></button></span></a></p>
<div class="ei-desc">
        <p>Generate More Revenue of Video content company with better Customer experience
    
    Video content has become most popular means of consuming content in today’s highly digital world.<br>
    
    A company selling its content in Video format has advantage of using the most sought after format of
    content consumption but that doesn’t solve the challenge to increase <br>
    sale (subscription) of such video content. Let’s see how can we tackle this challenge.<br>
    
    This is typical challenge of such companies and it is partly solved by traditional <br>
    CMS(Content Management System) but most companies are ignorant about the fact that moving into 
    traditional CMS/web CMS doesn’t necessarily result into commercial success or success at a rate<br>
    desired by the company.<br>
    
    Enagage your cutomer: (Customer Data/Analytics/Business Insight)<br>
    
    One  needs to go beyond traditional CMS/WebCMS solutions and
    
    find a means to increase customer engagement using context driven content during active sessions<br>
            of customer,<br>
    enable more frequent regular engagement ,
    offer what it needs more easily(customized Menu/Better Search)
    so that customer gets very relevant content and offers that it might be interested in.<br>
    
    Deliver value to convert into sales: (Context driven sales/up-selling /cross selling)
    
    Also one needs to use context driven commerce during customer engagement where we propose so
    relevant content to customers that they perceive real value in that and are happy to buy it.<br>
    
    Earn customer loyalty using Continuous but contextual engagement:<br>
    
    Thereafter one needs to keep this engagement on regular basis so that existing customer gets
    converted into loyal customer and comes back again and again for its need for video content.<br> 
    
    How do you achieve this:<br>
    
    We need to have a system with CMS/ web CMS at core but goes beyond that and uses some means to capture
    customer experience data as centralized data from diverse channels(multiple websites/muletc.) ,<br> 
    use analytics over this data to derive pattern about particular customer (and/orsimilar to 
    this customer), use this pattern to offer very relevant content when such customer is looking
    for video content, and then automate this process of analytics ,<br>Insight, decision and
    customization so that in Real time a customer is offered the most relevant information 
    customized as per its own preferences and earlier user experience.<br>
    
    Such customer experience on website/portal generates unique and very relevant experience for each
    customer , which leads to intense customer engagement and higher conversion to successful <br>
    transaction with the company and continue to be loyal customer is such engagement is continued
    driven by company at regular frequency.<br>
    
    Sitecore is one such leading suite of products which specializes in creating this digital 
    transformation of such company by enabling better customer experience management and 
    generate higher revenue by doing contextual selling, up selling and cross selling.</p>
    
    
            </div>
                        <span class="eye-author">Author:Mr. Ashish sharma</span>
    
                        <div class="text-right">
                            <!-- <a class="btn btn-default ei-next-prev-btn"
                                                         href="https://www.avendus.com/india/avendus-eye/esg-launch-with-melissa-brown"
                                                         role="button">Next</a> -->
                            <!-- <a [routerLink]="['/sitecore-experience-commerce-implementation]">
                                <button class="sim-button button-white"><span>Previous</span></button>
                            </a> -->
                            <a [routerLink]="['/new-features-in-sitecore']">
                                <button class="sim-button button-white"><span>Previous</span></button>
                            </a>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="ei-read-more text-center">Read More</h2>
    
                    
                   
                    
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/sitecore-experience-platform-implementation']">
                            <p>January 2019</p>
                            <h3>Sitecore Experience Platform Implementation</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                        <a [routerLink]="['/sitecore-experience-commerce-implementation']">
                            <p>January 2019</p>
                            <h3>Sitecore Experience Commerce Implementation</h3>
                            <p class="ei-read-time">Read Time: 4 minutes</p>
                        </a>
                    </div>
                    <div class="ei-read-blocks">
                            <a [routerLink]="['/Sitecore-and-Other-CMS']">
                                <p>January 2019</p>
                                <h3>Sitecore vs. Other CMS</h3>
                                <p class="ei-read-time">Read Time: 4 minutes</p>
                            </a>
                        </div>
                        <div class="ei-read-blocks">
                                <a [routerLink]="['/Sitecore-deployment']">
                                    <p>January 2019</p>
                                    <h3>Sitecore deployment strategies</h3>
                                    <p class="ei-read-time">Read Time: 4 minutes</p>
                                </a>
                            </div>
                            <div class="ei-read-blocks">
                                    <a [routerLink]="['/new-features-in-sitecore']">
                                        <p>January 2019</p>
                                        <h3>EXPLORING NEW FEATURES IN SITECORE 9.1</h3>
                                        <p class="ei-read-time">Read Time: 4 minutes</p>
                                    </a>
                                </div>
                    <div>
                        <a (click)="onclick()" role="button">
                            <button class="sim-button button-black">
                                <span>View All</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>