<div _ngcontent-eut-c4="" class="overview-section" style="background: #efefef;">
    <div _ngcontent-eut-c4="" class="container-fluid" style="background: #efefef;">
        <div _ngcontent-eut-c4="" class="overview-blocks">
            <div _ngcontent-eut-c4="" class="col-lg-2 col-md-6 col-sm-6 animcont">
                <div _ngcontent-eut-c4="" class="col-md-6"><a _ngcontent-eut-c4="" routerLink="bi&analytics">
                        <div _ngcontent-eut-c4="" class="zoom">
                            <h3 _ngcontent-eut-c4="">BI &amp; Analytics</h3>
                        </div>
                    </a></div>
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"></div>
            </div>
            <div _ngcontent-eut-c4="" class="col-lg-2 col-md-6 col-sm-6 animcont">
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"><a _ngcontent-eut-c4="" routerLink="sitecore">
                        <div _ngcontent-eut-c4="" class="zoom">
                            <h3 _ngcontent-eut-c4="">Sitecore Services</h3>
                        </div>
                    </a></div>
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"></div>
            </div>
            <div _ngcontent-eut-c4="" class="col-lg-2 col-md-6 col-sm-6 animcont">
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"><a _ngcontent-eut-c4=""
                        routerLink="Integration-Solutions">
                        <div _ngcontent-eut-c4="" class="zoom">
                            <h3 _ngcontent-eut-c4="">Integration Solutions</h3>
                        </div>
                    </a></div>
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"></div>
            </div>
            <div _ngcontent-eut-c4="" class="col-lg-2 col-md-6 col-sm-6 animcont">
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"><a _ngcontent-eut-c4="" routerLink="eCommerce">
                        <div _ngcontent-eut-c4="" class="zoom">
                            <h3 _ngcontent-eut-c4="">Ecommerce Solutions </h3>
                        </div>
                    </a></div>
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"></div>
            </div>
            <div _ngcontent-eut-c4="" class="col-lg-2 col-md-6 col-sm-6 animcont">
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"><a _ngcontent-eut-c4="" routerLink="CMS-Solution">
                        <div _ngcontent-eut-c4="" class="zoom">
                            <h3 _ngcontent-eut-c4="">CMS Solutions</h3>
                        </div>
                    </a></div>
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"></div>
            </div>
            <div _ngcontent-eut-c4="" class="col-lg-2 col-md-6 col-sm-6 animcont">
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"><a _ngcontent-eut-c4="" routerLink=".Net-Solution">
                        <div _ngcontent-eut-c4="" class="zoom">
                            <h3 _ngcontent-eut-c4="">DotNet Solutions</h3>
                        </div>
                    </a></div>
                <div _ngcontent-eut-c4="" class="col-md-6 col-sm-6"></div>
            </div>
        </div>
    </div>
</div>