<!--==========================main banner=======================-->
  <section id="career-life-avend" class="career-life-avend">
    <div class="life-avend-banner" style="height:393px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="outer-valign">
              <div class="inner-valign">
                <div class="life-avend-bann-text">
                  <h1><b>Power BI Analytics</b></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=================end os main benner=================================-->
      <!-- --------------------------------MAIN CONTENT---------------------------- -->

      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 mainContent">
            <p>
              Businesses today must be able to glean insight and understand the
              value from every purchase, Tweet, and customer care interaction. Our
              team can help you unlock this business value from mountains of data.
              Our cost-effective and comprehensive Business Intelligence (BI) and
              Analytics services provide a foundation for insight and analysis to
              help you make more insightful business decisions, take bold action,
              and execute quickly.
            </p>
          </div>
        </div>
      </div>
      <!-- ----------------------------END MAIN CONTENT ------------------------ -->
      <div class="section-padding" style="font-family: CoreSansR25Light;">
        <div class="container demo">
          <div>
            <div class="panel panel-default" *ngFor="let BI of BIs; let i = index" style="    width: 85%;
            margin-left: 82px;margin-bottom: 10px;">
              <div class="panel-heading" role="tab" id="headingOne" style="    color: white;
                        background: #286090;
                  border-color: black;">
                <h4 class="panel-title" style="font-size:19px;">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                    aria-controls="collapseOne" (click)="toggle(i)">
                    <!-- <i class="{{ glyphicon }}"></i> -->
                    <li class="{{ BI.icon }}"></li>
                    {{ BI.header }}
                  </a>
                </h4>
              </div>

              <div role="tabpanel" class="panel-body" style="background-color:white;color:#000000;font-size:17px;"
                aria-labelledby="headingOne" *ngIf="BIID == i">
                <div [innerHtml]="BI.description"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- ----------------------START CARD------------------------------------- -->

  <div class="block-section">
    <div class="container">
      <div class="row">
        <div class="main-outer-box">
          <div class="unit-class">
            <div class="box">
              <a href="https://blog.akscellenceinfo.com/BI/Analytics-Beyond-Spreadsheet">
                <div class="field-wrapper">
                  <div class="blog-text">
                    <h6>Power BI Analytics</h6>
                    <h5>January 2019</h5>
                    <h2>Analytics Beyond Spreadsheet</h2>
                    <p>
                      While Microsoft Excel and other spreadsheets have existed now for many years, 
                      spreadsheets aren't always the right tools for many BI tasks. BI as a concept has been around since quite a time,
                       but it has now evolved from basics to much more sophisticated platform.
                    </p>
                    <span>Read Time: 4 minutes</span>
                  </div>
                  <div
                  class="box-img" >
              <img src="../../assets/images/akscellence-bi.png" class="bicardimage1" style=" height: 448px;
              width: 477px;
              background-size: cover;
              padding-right: -16px;
              margin-right: -37px;
              margin-left: 0;
              overflow: unset;
              margin-top: -55px;"/>
              </div>
              </div>
            </a>
          </div>

            <div class="box box-margin">
              <a href="https://blog.akscellenceinfo.com/BI/Why-Traditional-BI-failing-to-resolve-Business-problems?">
                <!-- <div class="box-img" style="background-image: url(./img/concept-cms-content-management-system-450w-663091237.jpg)"></div> -->
                <div class="field-wrapper">
                  <div class="blog-text">
                    <div class="box-img" style="background-image: url()"></div>
                    <h6>Power BI Analytics</h6>
                    <h5>January 2019</h5>
                    <h2>Why Traditional BI failing to resolve Business problems?</h2>
                    <p>
                      The goal of Business Intelligence is to provide right-time
                      information to management and function as a decision support
                      mechanism. Below are few challenges in using Traditional
                      Business Intelligence techniques.
                      <span>Read Time: 7 minutes</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="unit-class"></div>

          <div class="unit-class">
            <div class="box">
              <a href="https://blog.akscellenceinfo.com/BI/Power-BI-service">
                <div class="field-wrapper">
                  <div class="box-img" style="background-image:url(../../assets/images/bi-bg.jpg);
                                background-size: 101% 107%;"></div>
                  <div class="blog-text">
                    <h6>Power BI Analytics</h6>
                    <h5>January 2019</h5>
                    <h2>Power BI service</h2>
                    <p>
                      Publishing Power BI reports with Python visuals.When you
                      publish the report the report to your Power BI workspace,
                      the visuals are automatically refreshed when the report is
                      viewed.
                    </p>

                    <span>Read Time: 4 minutes</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="box">
              <a href="https://blog.akscellenceinfo.com/BI/Finding-the-right-BI-Tool">
                <div class="field-wrapper">
                  <div class="box-img" style="background-image: url(../../assets/images/akscellence-analatics2.jpg);
                                    "></div>
                  <div class="blog-text">
                    <h6>Power BI Analytics</h6>
                    <h5>January 2019</h5>
                    <h2>Finding the right BI Tool</h2>
                    <p>
                      Finding the right BI tool isn't a simple process.BI tools have major
                       differences when it comes to how they consume data inputs and outputs and manipulate their tables.

                      <br />
                    </p>
                    <span>Read Time: 4 minutes</span>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-bi-card></app-bi-card> -->