<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <a href="https://www.akscellenceinfo.com/"><h4>Home</h4></a>
                <a href="https://www.akscellenceinfo.com/career"><h4>career</h4></a>
                <a href="https://blog.akscellenceinfo.com"><h4><strong>BLOGS</strong></h4></a>
                <a href="https://blog.akscellenceinfo.com/BI/Why-Manufacturing-companies-need-Analytics"><li>Why Manufacturing companies need Analytics</li></a>
                <a href="https://blog.akscellenceinfo.com/BI/Power-BI-service"><li>Power BI service</li></a>
                <a href="https://blog.akscellenceinfo.com/BI/Analytics-Beyond-Spreadsheet"><li>Analytics Beyond Spreadsheet</li></a>
                <a href="https://blog.akscellenceinfo.com/BI/Why-Traditional-BI-failing-to-resolve-Business-problems?"><li>Why Traditional BI failing to resolve Business problems?</li></a>
                <a href="https://blog.akscellenceinfo.com/BI/How-Analytics-is-better-than-Traditional-reporting"><li>How Analytics is better than Traditional reporting</li></a>
                <a href="https://blog.akscellenceinfo.com/Sitecore/Sitecore-vs-Other-CMS"><li>Sitecore vs. Other CMS</li></a>
                <a href="https://blog.akscellenceinfo.com/Sitecore/Sitecore-deployment-strategies"><li>Sitecore deployment strategies</li></a>
                <a href="https://blog.akscellenceinfo.com/Sitecore/Sitecore-Experience-Platform-Implementation"><li>Sitecore Experience Platform Implementation</li></a>
                <a href="https://blog.akscellenceinfo.com/Sitecore/NEW-FEATURES-IN-SITECORE"><li>NEW FEATURES IN SITECORE</li></a>
                <a href="https://blog.akscellenceinfo.com/Sitecore/Generate-More-Revenue-of-Video-content-company-with-better-Customer-experience"><li>Generate More Revenue of Video content company with better Customer experience</li></a>
              
                <a href="https://www.akscellenceinfo.com/experience-professional"> <li>Experienced Professionals</li></a>
                <a href="https://www.akscellenceinfo.com/contactus"><h4>contact us</h4></a>
                <a href="https://www.akscellenceinfo.com/careers"><h4>current openings</h4></a>
                <a href="https://www.akscellenceinfo.com/policy"><h4>Privacy Policy</h4></a>
               
            </div>
            <div class="col-md-6">
                <ul>
                    <h4>Service & Tech</h4>
                    <a href="https://www.akscellenceinfo.com/bi-analytics"><li>BI Analytics</li></a>
                    <a href="https://www.akscellenceinfo.com/sitecore"><li>Sitecore</li></a>
                    <a href="https://www.akscellenceinfo.com/eCommerce"><li>eCommerce</li></a>
                    <a href="https://www.akscellenceinfo.com/Integration-Solutions"><li>Integration Solutions</li></a>
                    <a href="https://www.akscellenceinfo.com/CMS-Solution"><li>CMS Solution</li></a>
                    <a href="https://www.akscellenceinfo.com/.Net-Solution"><li>.Net Solution</li></a>

                </ul>
                <ul>
                    <h4>Discover Us</h4>
                    <a href="https://www.akscellenceinfo.com/aboutus"><li>about us</li></a>
                    <a href="https://www.akscellenceinfo.com/life-at-Aks"><li>life at AKSCELLENCE</li></a>
                    <a href="https://www.akscellenceinfo.com/blog"><li>blogs</li></a>
                    <a href="https://www.akscellenceinfo.com/faq"><li>fAQ</li></a>
                </ul>
                <ul>
                    <h4>OUR LEADERSHIP</h4>
                    <a href="https://www.akscellenceinfo.com/leaderShip-Sanjay-Kumar"><li>leaderShip-Sanjay-Kumar</li></a>
                    <a href="https://www.akscellenceinfo.com/leaderShip-Ashish-Sharma"><li>leaderShip-Ashish-Sharma</li></a>
                    <a href="https://www.akscellenceinfo.com/leaderShip-Kamlesh-Jha"><li>leaderShip-Kamlesh-Jha</li></a>
                    <a href="https://www.akscellenceinfo.com/leaderShip-Pranay-Gupta"><li>leaderShip-Pranay-Gupta</li></a>
                </ul>
                
                <a href="https://www.akscellenceinfo.com/Usersitemap"><h4> HTML sitemap</h4></a>
            </div>
        </div>
    </div>
</div>