<!--The content below is only a placeholder and can be replaced.-->
<div class="showLoadingIndicator"></div>
  <div *ngIf="showLoadingIndicator" style="height: 100%;position: absolute;z-index: 99;width: 100%; background:white;"></div>
  <div *ngIf="showLoadingIndicator" class="spinner"></div>
  <app-header (setPageMetaData) = "pageMetaData()"></app-header>
<br/>
<!-- 
<div *ngIf="showdiv">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/><br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/><br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/><br/>
</div> -->
<!-- <app-card-detail></app-card-detail> -->
<!-- <app-experienceprof></app-experienceprof> -->
<router-outlet style="position: relative;"></router-outlet>

   
 
  <!-- <app-blog></app-blog> -->
  <!-- <app-leadership-sanjay-kumar></app-leadership-sanjay-kumar> -->
  <!-- <app-leadership-pranay-gupta></app-leadership-pranay-gupta> -->
  <!-- <app-leadership-kamlesh-jha></app-leadership-kamlesh-jha> -->
  <!-- <app-leadership-ashish-sharma></app-leadership-ashish-sharma> -->
  <!-- <app-dot-net-solution></app-dot-net-solution> -->
  <!-- <app-e-commerce></app-e-commerce> -->
  <!-- <app-integration-solutions></app-integration-solutions> -->
  <!-- <app-cms-solution></app-cms-solution> -->
  <!-- <app-bi></app-bi> -->
  <!-- <app-experienceprof></app-experienceprof> -->
  <!-- <app-sitecore></app-sitecore> -->
  <!-- <app-about-us></app-about-us> -->
  <!-- <app-life-at-aks></app-life-at-aks> -->
  <!-- <app-career></app-career> -->
  <!-- <app-contact-us></app-contact-us> -->
  <!-- <app-customize-services></app-customize-services> -->
  <!-- <app-customize-services></app-customize-services> -->
  <app-footer></app-footer> 

 
 
<!-- <h2>
    {{ title }}
    </h2>
    <button>Start Animation</button>
<div
style="border:1px solid #555;border-radius:3px;color:white;background:#555;height:105px;width:260px;position:relative; margin-top:10px"
>
jQuery
</div> -->