<section id="eye-inside" class="eye-inside">
    <div class="eye-inside-banner" title="BI and Data Analytics" style="background-image: url(../../assets/images/bidata-page-001.jpg);">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="outer-valign">
                            <div class="inner-valign">
                                <div class="ei-bann-text">
                                    <h6>bi & analytics</h6>
                                    <h1>Market for BI & Data Analytics</h1>
                                    <p>January 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---end of section1--->
    <div class="icon-bar wow fadeIn hidden-xs hidden-sm" data-wow-delay="1s" data-wow-duration="2s" id="icon-bar"
        style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
        <a class="share">
            <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png" alt="akscellence BI & Data Analytics" />
        </a>
        <a href="https://www.facebook.com/pg/akscellence" class="facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div class="container eye-inside-info">
        <div class="row">
            <div class="col-md-9">
                <div class="ei-info-bg wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s"
                    style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="icon-bar wow fadeIn visible-xs visible-sm animated" data-wow-delay="1s"
                        data-wow-duration="2s" id="icon-bar"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                        <a class="share">
                            <img src="https://www.avendus.com/dist/img/newsroom-inside/share.png"  alt="akscellence BI & Data Analytics" />
                        </a>
                        <a href="https://www.facebook.com/pg/akscellence" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/akscellence" class="twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="https://www.linkedin.com/company/akscellence/" class="linkedin" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    <p class="ei-time">Read Time: 10 minutes <a (click)="onclick()"><span
                                style="float: right;background: white; "> <button style="border-color: black;
                      border-radius: 4px;
                      background: white;"><b style="color:red;">X</b></button></span></a></p>

                    <div class="ei-desc">
                        <h2>PROBLEM STATEMENT</h2>
                        <p><strong>Why Traditional Business Intelligence techniques are&nbsp;failing to resolve today’s
                                Business problems? </strong></p>
                        <p>The goal of Business Intelligence is to&nbsp;provide right-time information to management and
                            function as a decision support mechanism. Below are few challenges in using Traditional
                            Business Intelligence techniques.</p>
                        <ul>
                            <li>IT spends months or even years building out dashboards and reports based on user
                                requirements. Users get their hands on the dashboards and reports and immediately
                                request changes based on what they see. IT then spends more weeks or months implementing
                                those changes. Users spend time with the new dashboards and reports, and then come up
                                with more requirements as new questions come to mind. It’s a<strong> long, painful
                                    cycle.</strong></li>
                            <li>The extracted and filtered data need to be transformed into operational data warehouses
                                by ETL&nbsp;(Extract, Transform and Load) processes. Then, techniques such as OLAP cubes
                                are used to enhance the data storage to deliver better&nbsp;analytical performance. BUT
                                as long as they are query- and cube-based solution, maintaining associations in the data
                                requires hand coding — and therefore lots of time and money which results as<strong>
                                    higher cost solution.</strong></li>
                            <li>If business user wants to get deeper insight into an aspect of the business which
                                required to add a new data source, then developer would have to go back and re-code the
                                associations by hand all over again. Business users<strong> failed to explore data, make
                                    discoveries, and uncover insights </strong>that can be used to help them solve their
                                problems in new ways.</li>
                            <li>The <strong>performance gains are overshadowed </strong>by the enormous complexity and
                                additional delays&nbsp;imposed by an ETL process.</li>
                            <li>Traditional BI required<strong> Specialized consultants </strong>to perform ETL tasks
                                and set up the Data Warehouses&nbsp;that few decision-makers will use.</li>
                        </ul>
                        <h2>POSSIBLE SOLUTIONS</h2>
                        <p>Current focus of BI and analytics platform market's is shifting from IT-led reporting to
                            business-led self-service analytics. There are number of tools are available for providing
                            solutions around this:</p>
                        <p><img style="width: 106%;"  class="imageBlogDetail1" src="../../assets/images/untitled5.png"  alt="akscellence BI & Data Analytics"></p>
                        <p><strong>GARTNER MAGIC QUADRANT 2015 AND 2016</strong></p>
                        <p><img style="width: 106%;"class="imageBlogDetail1" src="../../assets/images/untitled6.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>GARTNER MAGIC QUADRANT 2017</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled7.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>GARTNER MAGIC QUADRANT 2017:Business Analytics Services</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled8.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>Revenue Forecast &amp; Market Segments</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled9.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>Approach to Bigdata Market for Business Development</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled10.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>LET’S TALK BUSINESS</strong></p>
                        <p><strong>Business Use Case for Comparison:</strong></p>
                        <ol>
                            <li>Ease of Use</li>
                            <li>Advanced Analytics</li>
                            <li>Data Preparation</li>
                            <li>Security</li>
                            <li>Cost</li>
                        </ol>
                        <p><strong>EASE OF USE</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled11.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>ADVANCED ANALYTICS</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled12.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>DATA PREPARATION</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled13.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>SECURITY</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled14.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>COST</strong></p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled15.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>WHAT QLIKVIEW DOES ?</strong></p>
                        <p>Qlik® is a leader in the visual analytics market, delivering intuitive platform-based
                            solutions for self-service visualization and exploration, guided analytics and dashboards,
                            custom and embedded analytics, and reporting to approximately 40,000 customers worldwide.
                            Companies of all sizes, across all industries and geographies, use Qlik solutions to
                            visualize and explore information, generate insight, and make more informed decisions.</p>
                        <p>In year 2014, Qlikview releases another product <strong>Qlik Sense.</strong> Imagine an
                            analytics tool so intuitive, anyone in your company could easily create personalized reports
                            and dynamic dashboards to explore vast amounts of data and find meaningful insights. That’s
                            Qlik Sense - a revolutionary self-service data visualization and discovery application
                            designed for individuals, groups and organizations. Qlik Sense lets you rapidly create
                            visualizations, explore data deeply, reveal connections instantly, and see opportunities
                            from every angle.</p>
                        <p><strong>The QlikView vs. Qlik Sense Dilemma</strong></p>
                        <ul>
                            <li>It is clear that Sense is the more modern tool, is getting the flashest new features and
                                is where future direction lies. The problem is that there are some things that QlikView
                                can do that Sense is just not quite there with yet (that is without having to plug gaps
                                by using <strong style="color: blue;"> QlikMarket&nbsp;</strong>&nbsp;apps).</li>
                            <li>If you are not constrained, however, by preconceptions of what you should be able to
                                build from what you have done previously in QlikView, then Qlik Sense is in many cases
                                the better option.</li>
                        </ul>
                        <p><strong>WHY TO CHOOSE QLIKVIEW</strong></p>
                        <p>There are three primary reasons and with the combination of these three factors, QlikView
                            customers achieve rapid time to value at lower cost of deployment than with traditional BI
                            solutions.</p>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled16.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>THE QLIKVIEW ASSOCIATIVE EXPERIENCE</strong>&nbsp;</p>
                        <p>The QlikView Business Discovery platform enables users to explore data, make discoveries, and
                            uncover insights that can be used to help them solve business problems in new ways. One of
                            QlikView’s primary differentiators is the associative experience it delivers to users.
                            Business users conduct searches and interact with dynamic dashboards and analytics from any
                            device. Users can gain unexpected insights because QlikView.</p>
                        <ul>
                            <li>Works the way peoples’ minds work.</li>
                            <li>Illuminates the power of gray.</li>
                            <li>Delivers direct – and indirect – search.</li>
                            <li>Delivers answers as fast as users can think of questions.</li>
                        </ul>
                        <p><img style="width: 106%;" class="imageBlogDetail1" src="../../assets/images/untitled17.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>QLIKVIEW’S CORE TECHNOLOGY </strong></p>
                        <p>The second major factor that differentiates QlikView is our core technology. QlikView is
                            known as a pioneer in in-memory BI. In-memory technology is important for BI, for
                            performance reasons. But just being in-memory isn’t all it takes to deliver a Business
                            Discovery platform. Some vendors that offer traditional BI solutions based on queries and
                            cubes are working to re-engineer their offerings to run in memory. These solutions may
                            improve user response time. But as long as they are query- and cube-based, maintaining
                            associations in the data requires hand coding — and therefore lots of time and money.</p>
                        <ul>
                            <li>Holds data in memory for multiple users, for a super-fast user experience</li>
                            <li>Maintains associations in the data automatically.</li>
                            <li>Calculates aggregations on the fly as needed.</li>
                            <li>Compresses data to 10% of its original size.</li>
                            <li>Optimizes the power of the processor.</li>
                        </ul>
                        <p><strong>THE BUSINESS DISCOVERY ADOPTION PATH </strong></p>
                        <p>QlikView penetrates enterprises by solving significant business problems that traditional BI
                            can’t address. Typically, with QlikView:</p>
                        <ul>
                            <li>It all begins with the personal edition</li>
                            <li>The new user gets value immediately</li>
                            <li>A workgroup or team expands its deployment</li>
                            <li>As more departments adopt, IT supports an enterprise deployment.</li>
                        </ul>
                        <p><img style="width: 106%; margin-bottom: -200px;" class="imageBlogDetail" src="../../assets/images/untitled18.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>BUILDING AND MAINTAINING QLIKVIEW APPS IS FAST AND EASY </strong></p>
                        <p><img style="width: 106%; margin-bottom: -140px;" class="imageBlogDetail" src="../../assets/images/untitled19.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>WITH QLIKVIEW, YOU CAN HAVE BOTH AGILITY AND GOVERNANCE </strong></p>
                        <p><img style="width: 106%; margin-bottom: -200px;" class="imageBlogDetail" src="../../assets/images/untitled20.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>QLIKVIEW CUSTOMERS ACHIEVE RAPID TIME TO VALUE </strong></p>
                        <p>QlikView customers’ Business Discovery adoption path contrasts sharply with that of
                            traditional BI solutions. With traditional BI solutions, IT spends months or even years
                            building out dashboards and reports based on user requirements. Users get their hands on the
                            dashboards and reports and immediately request changes based on what they see. IT then
                            spends more weeks or months implementing those changes. Users spend time with the new
                            dashboards and reports, and then come up with more requirements as new questions come to
                            mind. It’s a long, painful cycle</p>
                        <p><img style="width: 106%; margin-bottom: -180px;" class="imageBlogDetail" src="../../assets/images/untitled21.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>QLIKVIEW BUSINESS DISCOVERY PLATFORM</strong></p>
                        <p><img style="width: 106%; margin-bottom: -140px;" class="imageBlogDetail" src="../../assets/images/untitled22.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>FAQ</strong></p>
                        <p>Does qlickview expects source data to be dimensionally modelled?<strong>&nbsp;No. QlikView
                                works best with raw data and loads individual tables (from different data sources if
                                required) that are then associated within QlikView. There is normally no need to
                                pre-process or pre-aggregate the data. QlikView can connect directly to databases and
                                files, or a data warehouse if you have one. QlikView has its own ETL capabilities if a
                                data warehouse is not in place.</strong></p>
                        <p>How it identidies facts and dimensions?<strong>&nbsp;These do not have to be defined
                                explicitly.</strong></p>
                        <p>Does every document or app will have its own data model?<strong>&nbsp;Yes. A data model can
                                contain multiple tables and from multiple data sources, but the tables need to be
                                associated (joined).</strong></p>
                        <p>You will have a large data model in qlickview and you can create multiple apps/document based
                            on user analysis?&nbsp;<strong>It is possible to create a single large app as long as it has
                                a single data model. If required you can then use the QlikView Publisher to
                                automatically split the app into multiple smaller apps with different user permissions,
                                e.g. one for each sales rep, one for each country etc. QlikView calls this "loop and
                                reduce"</strong></p>
                        <p>If we have dimensionally modelled bus architecture in place , do we need to create a multiple
                            documents that caters to diff business functions?<strong>&nbsp;Not necessarily. QlikView is
                                very flexible in that respect.</strong></p>
                        <p>Can qlickview create a dashboard ( again a super document) that spans across the subject
                            areas to create enterprise view of business?&nbsp;<strong>Yes</strong></p>
                        <p>Can it read social media data?<strong> Connections to Twitter and Facebook are possible via
                                QVSource.com</strong></p>
                        <ul>
                            <ul>
                                <ul>
                                    <li>How business discovery helps CRM and how CRM app can talk to qlickview to get
                                        insights for day to day operation?<strong> Most CRM systems, such as SalesForce,
                                            have built-in reporting, but it is often not sufficient if a deep insight
                                            into the business is required. Business Discovery allows users to ask their
                                            own ad hoc questions and easily get the answers they need. QlikView in turn
                                            can be integrated into the CRM system. Note that QlikView is a read-only
                                            business discovery tool, i.e. out of the box it cannot write back to other
                                            systems.</strong></li>
                                </ul>
                            </ul>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                            <li>&nbsp;As a qlickview designer /developer/consultant, do I need to know and code in java
                                or java script or dot net or any other language (outside of qlickview)? <strong>No, you
                                    can become an accomplished developer without ever needing to know these (you need to
                                    know the QlikView scripting language though). However if you want to extend the use
                                    of QlikView then the following skills are useful:</strong></li>
                            <ol>
                                <li><strong style="color: blue;"> JavaScript</strong></li>
                                <li><strong>Web mash-ups and integration: .NET</strong></li>
                                <li><strong> Custom functionality: VB Script</strong></li>
                            </ol>
                        </ul>
                        <p>How qlickview reads ‘big data’? can it read unstructured data ? <strong>QlikView
                            </strong><strong style="color: red;">"cannot read unstructured data directly
                            </strong>but there are many indirect + 3rd party options:</p>
                        <ul>
                            <li><strong>Cloudera Connector for QlikView (to connect to Hadoop) </strong></li>
                            <li><strong>Teradata Connector for QlikView </strong></li>
                            <li><strong>QVSource (qvsource.com) has many connectors e.g. Hadoop and MongoDb </strong>
                            </li>
                            <li><strong>DataRoket etc…</strong></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>TABLEAU</strong></p>
                        <p>Tableau is an easy to learn tool that does an effective job of slicing and dicing your data
                            and creating great visualizations and dashboards. Tableau can create better visualizations
                            than Excel and can most definitely handle much more data than Excel can. If you want
                            interactivity in your plots, then Tableau is surely the way to go.</p>
                        <p><strong>Tableau Desktop</strong></p>
                        <p>Backbone of product offering. Use Tableau Desktop to create your workbooks.</p>
                        <p><strong>Tableau Server </strong></p>
                        <p>A secured intranet portal where user can easily publish and share their Tableau workbooks by
                            simply providing a link to workbook. Does not require Tableau Desktop to consume
                            information, just a browser.</p>
                        <p><strong>Tableau Reader </strong></p>
                        <p>Free tool that allows you to open, but not edit Tableau workbooks. You can only read what
                            others had created.</p>
                        <p><strong>Tableau Online </strong></p>
                        <p>Cloud based “Tableau Server” solution. Tableau will host your server, enabling you to easily
                            scale and publish content right out the gate. It’s a cloud-based solution for creating
                            workbooks over the cloud.</p>
                        <p><img style="width: 106%; margin-bottom: -180px;" class="imageBlogDetail" src="../../assets/images/untitled23.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>PROS AND CONS OF TABLEAU</strong></p>
                        <p><strong>Pros</strong></p>
                        <p><strong>Completely Interactive: </strong>Tell a story with your data. Filter and step from
                            summary to detail level in real time.</p>
                        <p><strong>Self Service: </strong>Minimal IT involvement throughout the entire development
                            process.</p>
                        <p><strong>Agile: </strong>Easily iterate on your development with no impact to existing
                            business operation.</p>
                        <p><strong>Short Learning Curve: </strong>Tableau makes it relatively easy to build a beautiful
                            dashboard.</p>
                        <p><strong>High Performance: </strong>Tableau Proprietary Datasource (Tableau Data Extract)
                            enables you to take the load off the database and store data in column based, high
                            performance TDE file.</p>
                        <p><strong>Real Time: </strong>Live connections between tableau and your datasource are
                            possible. Keep in mind that an already slow database will not be faster in Tableau when
                            reading.</p>
                        <p><strong>Easy to Share: </strong>Send your Tableau workbook along with all the data you are
                            using in one simple packaged file.</p>
                        <p>&nbsp;</p>
                        <p><strong>PROS AND CONS OF TABLEAU (contd.)</strong></p>
                        <p><strong>Cons/Limitations </strong></p>
                        <p><strong>Not a data warehouse replacement. </strong>Tableau is not an ETL tool. Garbage In,
                            Garbage out.</p>
                        <p><strong>Not meant for operational reporting. </strong>If its look like excel in Tableau, you
                            are doing it wrong.</p>
                        <p><strong>Output Limitation. </strong>By default Tableau limits the number of columns
                            (dimensions) displayed in table to 6.</p>
                        <p><strong>No Version management. </strong>Manually save different versions of workbook incase
                            you need to rollback.</p>
                        <p><strong>Highly formatted Reports. </strong>Tableau is not able to create reports that
                            resembles like a Utility Bills.</p>
                        <p><img style="width: 106%; margin-bottom: -394px;" class="imageBlogDetail"  src="../../assets/images/untitled24.png" alt="akscellence BI & Data Analytics">
                            <img style="width: 106%; margin-bottom: -180px;" class="imageBlogDetail"  src="../../assets/images/untitled25.png"alt="akscellence BI & Data Analytics">
                        </p>
                        <p><strong>QLIKVIEW VS TABLEAU - A COMPARISON</strong>&nbsp;</p>
                        <p><img style="width: 106%; margin-bottom: -133px;" class="imageBlogDetail" src="../../assets/images/untitled26.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>QLIKVIEW VS TABLEAU – BUSINESS CRITERIA COMPARISON</strong>&nbsp;</p>
                        <p><img style="width: 106%; margin-bottom: -280px;" class="imageBlogDetail" src="../../assets/images/untitled27.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>QLIKVIEW VS TABLEAU – VISUALIZATION CRITERIA COMPARISON</strong>&nbsp;</p>
                        <p><img style="width: 106%; margin-bottom: -280px;" class="imageBlogDetail" src="../../assets/images/untitled28.png" alt="akscellence BI & Data Analytics"></p>
                        <p><strong>QLIKVIEW VS TABLEAU – TECHNICAL CRITERIA COMPARISON</strong>&nbsp;</p>
                        <p><img style="width: 106%; margin-bottom: -180px;" class="imageBlogDetail" src="../../assets/images/untitled29.png" alt="akscellence BI & Data Analytics"></p>
                        ;
                    </div>
                    <span class="eye-author">Author:Mr. Kamlesh jha</span>

                    <div class="text-right">
                        <!-- <a class="btn btn-default ei-next-prev-btn"
                                         href="https://www.avendus.com/india/avendus-eye/esg-launch-with-melissa-brown"
                                         role="button">Next</a> -->
                        <a [routerLink]="['/Analytics-Beyond-Spreadsheet']">
                            <button class="sim-button button-white"><span>Previous</span></button>
                        </a>
                        <a [routerLink]="['/Power-BI-service']">
                            <button class="sim-button button-white"><span>Next</span></button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="ei-read-more text-center">Read More</h2>



                <div class="ei-read-blocks">
                    <a [routerLink]="['/Power-BI-service']">
                        <p>January 2019</p>
                        <h3>Power BI service</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/reports-vs-Analytics']">
                        <p>January 2019</p>
                        <h3>Traditional reports vs. Analytics</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/failure-of-traditional-bi']">
                        <p>January 2019</p>
                        <h3>Failure of traditional business intelligence</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div class="ei-read-blocks">
                    <a [routerLink]="['/Analytics-Beyond-Spreadsheet']">
                        <p>January 2019</p>
                        <h3>Analytics Beyond Spreadsheet</h3>
                        <p class="ei-read-time">Read Time: 4 minutes</p>
                    </a>
                </div>
                <div>
                    <a (click)="onclick()" role="button">
                        <button class="sim-button button-black">
                            <span>View All</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>`
    </div>
</section>