<div id="section_1">
    <div class="exp-prof-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="outer-valign">
                        <div class="inner-valign">
                            <div class="exp-prof-bann-text">
                                <h1><b>Careers</b></h1>
                                <p>Explore life at Akscellence and the opportunities we offer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section_3">
    <div class="purpose-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Current Opening</h2>
                    <p>Your chance to be a future leader at Akscellence</p>
                    <div class="col-md-12 text-center">

                        <button class="sim-button button-black" (click)="onClick(1)"><span>Explore</span></button>
                        <!-- <button class="btn view-all">Explore Programs</button> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section_2">
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Life at Akscellence</h2>
                    <p>We care about our people and offer you a unique ecosystem<br class="hidden-xs">that enables you
                        to grow with
                        us</p>
                    <div class="col-md-12 text-center">

                        <button class="sim-button button-white" (click)="onClick(2)"><span>LEARN MORE</span></button>
                        <!-- <button class="btn view-all">LEARN MORE</button> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section_4">
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Experienced Professionals</h2>
                    <p>Take your career to the next level</p>
                    <div class="col-md-12 text-center">
                        
                            <button class="sim-button button-white" (click)="onClick(3)"><span>LEARN MORE</span></button>
                            <!-- <button class="btn view-all">LEARN MORE</button> -->
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>