.exp-prof-banner {
    background-image: url("../../assets/images/about-banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    width: 100%;
        height: 525px;
    margin-top: -63px;
    position: relative;
    /* background-size: 100%; */
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.exp-prof-banner .col-md-12 .outer-valign {
  display: table;
  height: 525px;
  width: 100%;
}
.exp-prof-banner .col-md-12 .outer-valign .inner-valign {
  display: table-cell;
  vertical-align: middle;
}
.exp-prof-banner .col-md-12 .outer-valign .inner-valign .exp-prof-bann-text h1 {
  text-align: center;
  font-family: "UniviaProUltraLight";
  margin-bottom: 0;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 400;
}
.exp-prof-banner .col-md-12 .outer-valign .inner-valign .exp-prof-bann-text p {
  font-family: "CoreSansR35Regular";
  font-size: 18.75px;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 5px;
  line-height: 1.4;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.exp-prof-desc {
  padding-bottom: 3em;
  padding-top: 3em;
}
.exp-prof-desc p {
  font-size: 15.75px;
  font-family: "CoreSansR25Light";
  letter-spacing: 1px;
  line-height: 1.4;
}
@media screen and (max-width:991px){
.exp-prof-banner .col-md-12 .outer-valign .inner-valign .exp-prof-bann-text h1 {
margin-top:-22vh;
	font-size:36px;
}
}
/*--------------------------------------------------------------------------------------------------------------------*/
.about-content {
    padding: 50px 0;
    background-color: #fff;
}
 .about-content h2 {
  text-align: center;
  font-family: "UniviaPro-Light";
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 37px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.about-content p {
    font-family: "CoreSansR25Light";
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
    line-height: 1.4;
}
@media screen and (max-width:991px){
	.about-content p{
	font-size:19px;
	}
	.about-content h2 {
font-size:28px;
}
	.purpose-content h2 {
	font-size:28px!important;
	}
}
.about-content a {
    text-decoration: none;
    color: #000;
}

.button-white {
  color: #333;
  border-radius: 30px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  background-color: #ebebeb;
}

.sim-button {
    line-height: 40px;
    height: 40px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 144px;
    border: 0;
    cursor: pointer;
    width: 144px;
}
button {
    outline: none !important;
    outline-color: transparent !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.col-md-8{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-12, 
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.text-center {
    text-align: center;
}

.button-white span {
  z-index: 99;
  display: block;
  font-family: "UniviaPro-Light";
  position: relative;
  width: 100%;
  font-size: 14px;
  height: 100%;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align:baseline;
}

.purpose-content {
  background-image: url(../../assets/images/y-avend.jpg);
  width: 100%;
  background-size: cover;
  height: 269px;
  background-position: 30% 50%;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.purpose-content h2 {
  text-align: center;
  font-family: "UniviaPro-Light";
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 0;
  color: #f5f5f5;
  font-size: 37px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.purpose-content p {
  font-family: "CoreSansR25Light";
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;
  padding: 10px;
  color: #f5f5f5;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media screen and (max-width:991px){
	.purpose-content p {
	font-size:19px;
	}
}
.purpose-content a {
  text-decoration: none;
  color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.button-black:active {
  background-color: #3e3e3e !important;
}
.button-black {
  background-color: #3e3e3e;
  color: #f5f5f5;
  border-radius: 30px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: relative;
  border: 1px solid #f5f5f5;
  overflow: hidden;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top:10px;
}
