<!----==========================main banner=======================-->
<section id="career-life-avend" class="career-life-avend">
  <div class="life-avend-banner" style="height:393px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="outer-valign">
            <div class="inner-valign">
              <div class="life-avend-bann-text">
                <h1><b>Ecommerce Site </b></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----=================end os main benner=================================-->
<!-- --------------------------------MAIN CONTENT---------------------------- -->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 mainContent ">
      <p>
        In Digital revolution around the world, the need of eCommerce site is so
        obvious now a days for both B2B (Business to Business) and B2C (Business
        to Consumer) cases. We offer eCommerce solution which is very cost
        effective , quick to build and easy to maintain.
      </p>
      <p>
        Get your eCommerce site built within 8-10 weeks with all basic
        functionalities required in eCommerce site It would be of great quality
        at very reasonable cost to build and maintain along with capability to
        make changes quite fast in future.
      </p>
      <p>
        It would include many default reports related to inventory and order
        management.
      </p>
      <p>
        nopCommerce is a universal eCommerce platform fitting every merchant’s
        needs: it powers both corporate and small business sites all over the
        world, companies selling physical and digital goods.
      </p>
      <p>
        nopCommerce is a transparent and well-structured solution, it combines
        best features of open-source and commercial software.
      </p>
      <p>
        nopCommerce is a unique solution offering an incredible cost/value
        ratio. Being free, yet capable of handling serious projects, it offers
      </p>
      <ul>
        <li>the lowest ownership cost in the eCommerce industry.</li>
        <li>
          It can be up and running in minutes, and then easily scaled to support
          millions of products and hundreds of concurrent visitors.
        </li>
        <li>
          nopCommerce is compatible with Azure and web farms. The platform is
          safe and secure, and had only one security patch since its launch in
          2008.
        </li>
        <li>
          nopCommerce can be customized anytime to cope with any task your
          business requires.
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ----------------------------END MAIN CONTENT ------------------------ -->
<!-- ----------------------START CARD------------------------------------- -->

<div class="block-section section-3">
  <div class="container">
    <div class="row">
      <div class="main-outer-box">
        <div class="unit-class">
          <div class="box">
            <div class="field-wrapper">
              <div class="blog-text">
                <h6>e-commerce</h6>
                <h5>January 2019</h5>
                <h2>Ecommerce Site Using nopCommerce</h2>
                <p>
                  Get your eCommerce site build within 8-10 weeks with
                  nopCommerce framework with all basic functionalities required
                  in eCommerce site It provides great quality of site at very
                  reasonable cost to make and maintain along with capability to
                  make changes quite fats in future.It provides many defaut
                  reports related to inventory and order management.
                </p>
                <!-- <span>Read Time: 4 minutes</span> -->
              </div>
              <div
                class="box-img"
                style="background-image: url(../../assets/images/sitecore-commerce2.jpg);
                                background-size: 101% 107%;"
              ></div>
            </div>
          </div>

          <div class="box">
            <div class="field-wrapper">
              <!-- <div class="box-img" style="background-image: url(http://akscellenceinfo.com/media/1608/akscellence-bi_ana.jpg)"></div> -->
              <div class="blog-text">
                <h6>e-commerce</h6>
                <h5>January 2019</h5>
                <h2>Ecommerce Site Using nopCommerce</h2>
                <p>
                  nopCommerce is a universal eCommerce platform fitting every
                  merchant’s needs: it powers both corporate and small business
                  sites all over the world, companies selling physical and
                  digital goods. nopCommerce is a transparent and
                  well-structured solution, it combines best features of
                  open-source and commercial software.
                </p>
                <!-- <span>Read Time: 4 minutes</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
