.mainContent p,
    ul {
      font-family: "CoreSansR25Light";
      font-size: 17px;
      color: #000;
      text-align: justify;
      padding-bottom: 0em;
      letter-spacing: 1px;
      line-height: 1.4;
      margin-top: 30px;
    }

   
    /*===========main banner======================*/
#career-life-avend .life-avend-banner {
    background: url(../../assets/images/about-banner1.png) no-repeat 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 30% 50%;
   width: 100%;
   height: 525px;
   position: relative;
}
.container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.row {
   margin-left: -15px;
   margin-right: -15px;
}
#career-life-avend .life-avend-banner .col-md-12 {
   display: flex;
   align-items: center;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign {
   display: table;
   height: 525px;
   width: 100%;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign {
   display: table-cell;
   vertical-align: middle;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign .life-avend-bann-text h1 {
   text-align: center;
   font-family: "UniviaProUltraLight";
   margin-bottom: 138px;
   color:black;
   font-size: 40px;
   letter-spacing: 2px;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign .life-avend-bann-text p {
   font-family: "CoreSansR35Regular";
   font-size: 18.75px;
   text-align: center;
   letter-spacing: 1px;
   padding-bottom: 5px;
   line-height: 1.4;
}
 @media screen and (max-width: 767px){
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign .life-avend-bann-text h1{
margin-top:-23vh;
}
}

@media(max-width:768px){
ul{
 display:inline-block;
}
   ul li{
   width:100%;
   }
   
}
/*=============end of main banner============================================*/
 /* -------------------------------MAIN CONTENT-------------------- */
 .col-md-10{
   margin-top: -124px;
 }
 @media screen and (max-width:991px){
  .col-md-10{
    margin-top: -20px;
  }
 }
 .mainContent p {
   font-family: "CoreSansR25Light";
   font-size: 17px;
   color: #000;
   text-align: justify;
   padding-bottom: 1em;
   letter-spacing: 1px;
   line-height: 1.4;

 }
 .mainContent p>ul{
  font-family: "CoreSansR25Light";
  font-size: 17px;
  color: #000;
  text-align: justify;
  padding-bottom: 1em;
  letter-spacing: 1px;
  line-height: 1.4;

}
@media screen and (max-width: 767px){
   .mainContent p{
     font-size: 17px;
       margin-top:20px;
   }
}
/* ================card started================================================== */
.block-section {
  padding-top: 2em;
  
  background-color: #efefef;
}

.block-section .main-outer-box .unit-class {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 30px;
  height: 100%;
}
/*-----------------------UNIT CLASS 1-----------------------------*/



/*--------------------------------------------*/



.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(1) {
  -webkit-flex-basis: 66.66%;
  -ms-flex-preferred-size: 66.66%;
  flex-basis: 66.66%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding-right: 15px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  text-decoration: none;
}
.block-section .main-outer-box .unit-class .box a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
.block-section a {
  text-decoration: none;
  color: #1f1f1f;
  transition: all .5s ease-in;
}
.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(2) {
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  padding-left: 15px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.block-section .field-wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: all .5s ease-in;
}
.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(2) .box-img {
  display: none;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(1) .box-img {
  height: 356px;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.unit-class .blog-text {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  height: 356px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.block-section .main-outer-box .unit-class .blog-text h6 {
  font-family: "CoreSansR45Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #cc1919;
  margin-bottom: 2em;
  margin-top: 0;
  letter-spacing: 1px;
}

.block-section .main-outer-box .unit-class .blog-text h5 {
  font-family: "CoreSansR25Light";
  font-size: 15px;
  color: #7d7d7d;
  letter-spacing: 1px;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  display: none;
}

.block-section .main-outer-box .unit-class .blog-text h2 {
  font-family: "CoreSansR35Regular";
  font-size: 19px;
  margin-top: 8px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 16px;
  font-family: "CoreSansR35Regular";
  color: #1f1f1f;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.4;
}

.block-section .main-outer-box .unit-class .blog-text span {
  font-family: "CoreSansR25Light";
  color: #7d7d7d;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

/*------------------------UNIT CLASS 2-----------------------------------*/


.block-section .main-outer-box .unit-class {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 30px;
  height: 100%;
}
.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(1) {
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  padding-right: 15px;
}
.block-section .main-outer-box .unit-class .box a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
.block-section a {
  text-decoration: none;
  color: #1f1f1f;
  transition: all .5s ease-in;
}

.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(1) .box-img {
  height: 428px;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.block-section .main-outer-box .unit-class .blog-text {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  height: 356px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.block-section .main-outer-box .unit-class .blog-text h6 {
  font-family: "CoreSansR45Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #cc1919;
  margin-bottom: 2em;
  margin-top: 0;
  letter-spacing: 1px;
}

.block-section .main-outer-box .unit-class .blog-text h5 {
  font-family: "CoreSansR25Light";
  font-size: 15px;
  color: #7d7d7d;
  letter-spacing: 1px;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  display: none;
}
.block-section .main-outer-box .unit-class .blog-text h2 {
  font-family: "CoreSansR35Regular";
  font-size: 19px;
  margin-top: 8px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 16px;
  font-family: "CoreSansR35Regular";
  color: #1f1f1f;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.block-section .main-outer-box .unit-class .blog-text span {
  font-family: "CoreSansR25Light";
  color: #7d7d7d;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

/*-----------------------------------------------------------*/

/*-------------------------UNIT CLASS 2 BOX 2 ----------------------------*/

.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(2) {
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(2)>a:first-child {
  margin-bottom: 25px;
}
.block-section .main-outer-box .unit-class .box a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(2) .box-img {
  display: none;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-section .main-outer-box .unit-class .blog-text1 {
  background-color: #fff;
  padding: 20px 30px;
  font-family: "CoreSansR25Light";
  font-size: 16px;
  height: 377px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.block-section .main-outer-box .unit-class .blog-text1 h6 {
  font-family: "CoreSansR45Medium";
  font-size: 14px;
  color: #cc1919;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2em;
  margin-top: 0;
}
.block-section .main-outer-box .unit-class .blog-text1 h5 {
  font-family: "CoreSansR25Light";
  font-size: 15px;
  color: #7d7d7d;
  letter-spacing: 1px;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  display: none;
}
.block-section .main-outer-box .unit-class .blog-text1 h2 {
  font-family: "CoreSansR35Regular";
  font-size: 19px;
  margin-top: 8px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
.block-section .main-outer-box .unit-class .blog-text1 p {
  font-size: 16px;
  font-family: "CoreSansR35Regular";
  color: #1f1f1f;
  margin-bottom: 3em;
  letter-spacing: 1px;
  line-height: 1.4;
}
.block-section .main-outer-box .unit-class .blog-text1 span {
  font-family: "CoreSansR25Light";
  color: #7d7d7d;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}


/*-------------------------UNIT CLASS 2 BOX 3---------------------*/


.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(3) {
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  padding-left: 15px;
}

#index a {
  text-decoration: none;
}

.block-section .main-outer-box .unit-class .box a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
.block-section a {
  text-decoration: none;
  color: #1f1f1f;
  transition: all .5s ease-in;
}
.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(3) .box-img {
  height: 428px;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-section .main-outer-box .unit-class .blog-text {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  height: 356px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.block-section .main-outer-box .unit-class .blog-text h6 {
  font-family: "CoreSansR45Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #cc1919;
  margin-bottom: 2em;
  margin-top: 0;
  letter-spacing: 1px;
}
.block-section .main-outer-box .unit-class .blog-text h5 {
  font-family: "CoreSansR25Light";
  font-size: 15px;
  color: #7d7d7d;
  letter-spacing: 1px;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  display: none;
}
.block-section .main-outer-box .unit-class .blog-text h2 {
  font-family: "CoreSansR35Regular";
  font-size: 19px;
  margin-top: 8px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 16px;
  font-family: "CoreSansR35Regular";
  color: #1f1f1f;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.block-section .main-outer-box .unit-class .blog-text span {
  font-family: "CoreSansR25Light";
  color: #7d7d7d;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}
/*--------------------------------------------------------------*/


/*--------------------------UNIT CLASS 3----------------------------*/

/*---------------------------BOX 1----------------------------------*/

.block-section .main-outer-box .unit-class {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 15px;
  height: 100%;
}
.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(1) {
  padding-right: 15px;
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.unit-class .box a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.block-section a {
  text-decoration: none;
  color: #1f1f1f;
  transition: all .5s ease-in;
}

.block-section .field-wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: all .5s ease-in;
}

.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(1) .box-img {
  display: none;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-section .main-outer-box .unit-class .blog-text {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  height: 356px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.block-section .main-outer-box .unit-class .blog-text h6 {
  font-family: "CoreSansR45Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #cc1919;
  margin-bottom: 2em;
  margin-top: 0;
  letter-spacing: 1px;
}
.block-section .main-outer-box .unit-class .blog-text h5 {
  font-family: "CoreSansR25Light";
  font-size: 15px;
  color: #7d7d7d;
  letter-spacing: 1px;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  display: none;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: .82rem 0 .656rem 0;
}
.block-section .main-outer-box .unit-class .blog-text h2 {
  font-family: "CoreSansR35Regular";
  font-size: 19px;
  margin-top: 8px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 16px;
  font-family: "CoreSansR35Regular";
  color: #1f1f1f;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.block-section .main-outer-box .unit-class .blog-text  ul {
  font-size: 16px;
    margin-left:-39px;
  font-family: "CoreSansR35Regular";
  color: #1f1f1f;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.block-section .main-outer-box .unit-class .blog-text span {
  font-family: "CoreSansR25Light";
  color: #7d7d7d;
  -webkit-transform: skew(-10deg,0);
  -ms-transform: skew(-10deg,0);
  transform: skew(-10deg,0);
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

/*----------------------------------*/

/*-----------------------------------UNIT CLASS 3 BOX 2-----------------------*/

.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(2) {
  -webkit-flex-basis: 66.66%;
  -ms-flex-preferred-size: 66.66%;
  flex-basis: 66.66%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  padding-left: 15px;
}
#index a {
  text-decoration: none;
}

.block-section .main-outer-box .unit-class .box a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
.block-section a {
  text-decoration: none;
  color: #1f1f1f;
  transition: all .5s ease-in;
}

.block-section .field-wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: all .5s ease-in;
}

.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(2) .box-img {
  height: 356px;
}

.block-section .main-outer-box .unit-class .box-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/*-----------------------MEDIA QUERY------------------------------------------------*/

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class {
  display: block;
  margin-bottom: 0;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(1) {
  display: block;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 0 5px 0 5px;
  margin-top: 30px;
}
}
@media screen and (max-width: 767px){
.block-section .field-wrapper {
  display: block;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(1) .box-img {
  height: 400px;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text {
  height: 400px;
  padding: 20px 20px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h5 {
  font-size: 14px;
}
}


@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h2 {
  font-size: 19px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 18px;
}}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text span {
  font-size: 14px;
}
}

/*---------------------------- unit 1 BOX1 END---------------*/

/*----------------------UNIT BOX 2-------------------------*/

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(1) .box:nth-child(2) {
  display: block;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 30px 0 0 0;
  padding: 0 5px 0 5px;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(1) {
  display: block;
  margin-top: 6%;
  padding-right: 0;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text {
  height: 400px;
  padding: 20px 20px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h5 {
  font-size: 14px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h2 {
  font-size: 19px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 18px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text span {
  font-size: 14px;
}
}
/*------------------UNIT 2 BOX 2------------------*/

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(2) {
  margin-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text1 {
  height: 400px;
  padding: 20px 20px;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class .blog-text1 {
  margin-bottom: 30px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text1 h5 {
  font-size: 14px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text1 h2 {
  font-size: 19px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text1 p {
  font-size: 18px;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text1 span {
  font-size: 14px;
}
}



/*------------------UNIT 2 BOX 3-----------------------------------------------*/


@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(2) .box:nth-child(3) {
  display: block;
  margin-top: 6%;
  padding-left: 20px 20px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text {
  height: 400px;
  padding: 20px 20px;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class .blog-text {
  height: auto;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h5 {
  font-size: 14px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h2 {
  font-size: 19px;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text p {
  font-size: 18px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text span {
  font-size: 14px;
}
}

/*----------------------------blog-text-2-------------------------------*/

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text2 {
  height: 400px;
  padding: 20px 20px;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class .blog-text2 {
  margin-bottom: 30px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text2 h5 {
  font-size: 14px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text2 h2 {
  font-size: 19px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text2 p {
  font-size: 18px;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text2 span {
  font-size: 14px;
}
}

/*-------------------------UNIT CLASS 3 BOX 1-----------------------*/

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class {
  display: block;
  margin-bottom: 0;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(1) {
  padding: 0 5px 0 5px;
  margin-top: 6%;
}
}
@media screen and (max-width: 767px){
.block-section .field-wrapper {
  display: block;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text {
  height: 400px;
  padding: 15px 15px;
}
}
/* -----------------------------UNIT 3 BOX 2------------------------ */

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(2) {
    display: block;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-left: 0;
    margin: 0px 5px 0 5px;
  margin-top: 6%;
}
}

@media screen and (max-width: 767px){
.block-section .field-wrapper {
    display: block;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class:nth-child(3) .box:nth-child(2) .box-img {
    height: 400px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text {
    height: 400px;
    padding: 20px 20px;
}
}

@media screen and (max-width: 767px){
.block-section .main-outer-box .unit-class .blog-text {
    height: auto;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h5 {
    font-size: 14px;
}
}

@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text h2 {
    font-size: 19px;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text p {
    font-size: 18px;
}
}
@media screen and (max-width: 991px){
.block-section .main-outer-box .unit-class .blog-text span {
    font-size: 14px;
}
}

 

/*=================================end card=========================================*/
