<div class=" leadership-bann-section2"
    style="height:4750x;background-image: url('../../assets/images/3.jpg')">
    <div class="container">
        <div class="row" style="height:500px;">
            <div class="col-md-12">
                <div class="outer-valign">
                    <div class="inner-valign hidden-xs">
                        <h1 class="color-banner" style="margin-top:200px; color:black;">KAMLESH JHA</h1>
                        <h3 style="color:black; float: left;"> Delivery Head</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content1"
    style="padding-left:183px;background-color: #000000;height: 100px;padding-top: 20px;padding-right: 190px;">
    <p style="font-size: 15.75px;line-height: 1.4;letter-spacing: 2px;padding-bottom: 10px;color: #fff;">Result oriented
        delivery leader with many success stories. 20+ years of experience in project
        deliveries with IBM, NetAcross and IMR Global. Alumnus from NIT Allahabad, served many clients
        like American Express , Regal Beloit.</p>
</div>
<br/>
<br/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <style>

.aksinfo {
background-color: #fff;
margin-top: 6em;
border-radius: 5px;
}

.aksc-people-img {
width: auto;
position: relative;
top: -40px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
margin: 0 auto;
}

.aks-people-text {
padding: 10px 25px 30px;
margin-top: -50px;
height: 150px;
}

p {
font-size: 15px!important;
letter-spacing: .5px;
line-height: 1.4;
}

h4 {
font-size: 23px!important;
letter-spacing: .5px;
}

.aks-section {
background-color: #fdf6f6;
padding-top: 2em;
padding-bottom: 4em;
}

.aks-lead {
font-size: 37px;
text-align: center;
color: #000000;
letter-spacing: 1px;
}

</style> -->
<div class="aks-section">
    <div class="container">
        <div class="row">
            <div class="aks-lead">Other Leaders</div>
            <div class="col-md-4">
                    <a routerLink="/leaderShip-Sanjay-Kumar">
                    <div class="aksinfo">
                        <img src="../../assets/images/sanjay-profile-pic.png" alt="" class="img-responsive aksc-people-img">
                        <div class="aks-people-text">
                            <h4 style="text-align:center;">SANJAY KUMAR</h4>
                            <p style="text-align:center;">CO-FOUNDER & CEO</p>
                            <div class="linking" style="text-align:center;">
                                <a href="https://www.linkedin.com/in/sanjayiit/" target="_blank"><img
                                        src="../../assets/images/1024px-linkedin_logosvg.png" style="max-width: 20%;" /></a>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                    <a routerLink="/leaderShip-Ashish-Sharma">
                    <div class="aksinfo">
                        <img src="../../assets/images/img_5b0f9d2e3ae7d53.jpg" alt="" class="img-responsive aksc-people-img">
                        <div class="aks-people-text">
                            <h4 style="text-align:center;">ASHISH SHARMA</h4>

                            <p style="text-align:center;">CO-FOUNDER & CTO</p>
                            <div class="linking" style="text-align:center;">
                                <a href="https://www.linkedin.com/in/ashish-sharma-289396135/" target="_blank"><img
                                        src="../../assets/images/1024px-linkedin_logosvg.png" style="max-width: 20%;" /></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                    <a routerLink="/leaderShip-Pranay-Gupta" >
                    <div class="aksinfo">
                        <img src="../../assets/images/img_5bacde93aa7dc8.jpg" alt="" class="img-responsive aksc-people-img">
                        <div class="aks-people-text">
                            <h4 style="text-align:center;">PRANAY GUPTA</h4>

                            <p style="text-align:center;">PARTNER</p>
                            <div class="linking" style="text-align:center;">
                                <a href="https://www.linkedin.com/in/impranay/" target="_blank"><img
                                        src="../../assets/images/1024px-linkedin_logosvg.png" style="max-width: 20%;" /></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>