<section id="eye" class="eye">
    <div class="eye-banner-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="outer-valign">
                        <div class="inner-valign">
                            <div class="stud-grad-bann-text">
                                <div class="text-center">
                                    <h1>
                                        <span> Akscellence Blog</span>
                                    </h1>
                                </div>
                                <p>Thought leadership articles, insights
                                    <br>
                                    and viewpoints by Akscellence</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--bi  card added-->


<!-- end of bi card added-->
<div class="block-section" style="background: #efefef;">
    <div class="container">
        <div class="row">
            <div class="main-outer-box">
                <div class="unit-class" style="margin-top:35px;">

                    <div class="box">
                        <a [routerLink]="['/Analytics-Beyond-Spreadsheet']">
                            <div class="field-wrapper">


                                <div class="blog-text">
                                    <h6>bi & analytics</h6>
                                    <h5>January 2019</h5>
                                    <h2>Analytics Beyond Spreadsheet</h2>
                                    <p>Business intelligence (BI) isn't just for database experts anymore.
                                        We test and compare 10 cutting-edge self-service
                                        BI tools aimed at giving you direct access to all of the insights your data can
                                        provide..

                                    </p>
                                    <span>Read Time: 4 minutes</span>
                                </div>
                                <div class="box-img"
                                    style="background-image: url(../../assets/images/akscellence-bi.png);">
                                </div>

                            </div>
                        </a>

                    </div>

                    <div class="box box-margin">
                        <a [routerLink]="['/Market-for-BI-Data-Analytics']">
                            <!-- <div class="box-img" style="background-image: url(./img/concept-cms-content-management-system-450w-663091237.jpg)"></div> -->
                            <div class="field-wrapper">

                                <div class="blog-text">
                                    <div class="box-img" style="background-image: url()"></div>
                                    <h6>bi & analytics</h6>
                                    <h5>January 2019</h5>
                                    <h2> Market for BI & Data Analytics</h2>
                                    <p> The goal of Business Intelligence is to provide right-time information to
                                        management
                                        and function as a decision support mechanism.
                                        Below are few challenges in using Traditional Business Intelligence techniques.
                                        <span>Read Time: 7 minutes</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="unit-class">


                </div>





                <div class="unit-class" style="margin-top: -25px;">

                    <div class="box">
                        <a [routerLink]="['/Power-BI-service']">
                            <div class="field-wrapper">
                                <div class="box-img"
                                    style="background-image:url(../../assets/images/akscellence-analatics.jpg);background-size: 101% 107%;">
                                </div>
                                <div class="blog-text">
                                    <h6>bi & analytics</h6>
                                    <h5>January 2019</h5>
                                    <h2>Power BI service</h2>
                                    <p> Publishing Power BI reports with Python visuals.When you publish the report the
                                        report to your Power BI workspace, the visuals are automatically refreshed when
                                        the report is viewed.



                                    </p>

                                    <span>Read Time: 4 minutes</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a [routerLink]="['/Publishing-Power-BI-reports-with-Python-visuals']">
                            <div class="field-wrapper">
                                <div class="box-img"
                                    style="background-image: url(../../assets/images/akscellence-analatics.jpg);background-size: 101% 107%;">
                                </div>
                                <div class="blog-text">
                                    <h6>bi & analytics</h6>
                                    <h5>January 2019</h5>
                                    <h2>Publishing Power BI reports with Python visuals</h2>
                                    <p>You can add a Python visual to your Power BI report by selecting the Python
                                        visual icon from the Visualizations pane in the Power BI Desktop, which adds a
                                        placeholder Python script to the report.

                                        <br>
                                    </p>
                                    <span>Read Time: 4 minutes</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>



        <div class="row">
            <div class="main-outer-box">
                <div class="unit-class">

                    <div class="box">
                        <a [routerLink]="['/Sitecore-and-Other-CMS']">
                            <div class="field-wrapper">
                                <div class="blog-text">
                                    <h6>Sitecore Services</h6>
                                    <h5>January 2019</h5>
                                    <h2> Sitecore vs. Other CMS</h2>
                                    <p>The ever-increasing connectivity of people and machines has changed
                                        market demands. And in order to keep up, and at the same time stay competitive
                                        businesses need to adjust to these demands by digitizing their processes and
                                        business
                                        models. And the content management systems (or digital experience platforms)
                                        today.
                                    </p>
                                    <span>Read Time: 4 minutes</span>
                                </div>
                                <div class="box-img" style="background-image: url(../../assets/images/sitecore1.jpg);background-size: 101% 107%;">
                                </div>

                            </div>
                        </a>
                    </div>

                    <div class="box">
                        <a [routerLink]="['/Sitecore-deployment']">
                            <div class="field-wrapper">
                                <!-- <div class="box-img" style="background-image: url(./img/bi_ana.jpg)"></div> -->
                                <div class="blog-text">
                                    <h6>Sitecore Services</h6>
                                    <h5>January 2019</h5>
                                    <h2>Sitecore deployment strategies</h2>
                                    <p>Nowadays enterprises want applications to be deployed in such way that
                                        new version of the application can be introduced to production without making
                                        user
                                        see that application went down even for some time.</p>
                                    <span>Read Time: 7 minutes</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <!-- -----------------------------------UNIT CLASS 2-------------------- -->
                <div class="unit-class">

                    <div class="box">
                        <a [routerLink]="['/new-features-in-sitecore']">
                            <div class="box-img"
                                style="background-image: url(../../assets/images/sitecore-commerce2.jpg);background-size: 101% 107%;">
                            </div>
                            <div class="blog-text2">
                                <h6>Sitecore Services</h6>
                                <h5>January 2019</h5>
                                <h2>EXPLORING NEW FEATURES IN<br> SITECORE 9.1 </h2>
                                <p>Sitecore 9.1 is out with some exciting features having impact on stakeholders like
                                    back-end developer, front-end developer, infrastructure team, marketers, business
                                    owners etc.
                                    Some interesting features are headless development, Machine learning engine for
                                    generating real time insights.
                                </p>
                                <span>Read Time: 4 minutes</span>
                            </div>
                        </a>
                    </div>


                    <div class="box">
                        <a [routerLink]="['/failure-of-traditional-bi']">
                            <div class="box-img" style="background-image: url()"></div>
                            <div class="blog-text1">
                                <h6>BI & ANALYTICS</h6>
                                <h5>January 2019</h5>
                                <h2>Failure of traditional business intelligence
                                </h2>
                                <p>The goal of Business Intelligence is to provide right-time information
                                    to management and function as a decision support mechanism.
                                    IT spends months or even years building out dashboards and reports based on user
                                    requirements.
                                    Users on the other hand immediately request changes on what they see.
                                </p>
                                <span>Read Time: 4 minutes</span>
                            </div>
                        </a>
                        <a [routerLink]="['/more-revenue-for-video-content-company']">
                            <div class="box-img" style="background-image: url()"></div>
                            <div class="blog-text1">
                                <h6>sitecore Services</h6>
                                <h5>January 2019</h5>
                                <h2>Generate More Revenue of Video content company with better Customer experience</h2>
                                <p>Video content has become most popular means of consuming content in today highly
                                    digital world.
                                    A company selling its content in Video format has advantage of using the most sought
                                    after means of content
                                    consumption but how do they engage.
                                </p>
                                <span>Read Time: 4 minutes</span>

                            </div>
                        </a>
                    </div>



                    <div class="box">
                        <a [routerLink]="['/reports-vs-Analytics']">
                            <div class="box-img"
                                style="background-image: url(../../assets/images/akscellence-analatics.jpg);background-size: 101% 100%;">
                            </div>
                            <div class="blog-text2">
                                <h6>BI & ANALYTICS</h6>
                                <h5>January 2019</h5>
                                <h2>Traditional reports vs. Analytics</h2>
                                <p>Reporting is the process of organizing data into informational summaries to monitor
                                    business performance whereas Analytics is the process of exploring data and reports
                                    in
                                    order to extract meaningful insights, which can be used to better understand and
                                    improve business performance.
                                    Let us dig more into their differences.
                                </p>
                                <span>Read Time: 4 minutes</span>
                            </div>
                        </a>
                    </div>

                </div>
                <!-- ------------------------------unit 3------------------------- -->
                <div class="unit-class">

                    <div class="box">
                        <a [routerLink]="['/oracle-erp']">
                            <div class="field-wrapper">
                                <div class="box-img" style="background-image:url()"></div>
                                <div class="blog-text">
                                    <h6></h6>
                                    <h5>January 2019</h5>
                                    <h2>ORACLE ERP CLOUD CHANGING TRADITIONAL ERP</h2>
                                    <p>Enterprise resource planning (ERP) systems are used by organizations across many
                                        industries for managing their core business processes such as sales, purchasing,
                                        accounting, risk management and procurement to name a few.</p>
                                    <span>Read Time: 4 minutes</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a [routerLink]="['/Productivity-using-software-automation']">
                            <div class="field-wrapper">
                                <div class="box-img" style="background-image: url(../../assets/images/sitecore4.jpg);">
                                </div>
                                <div class="blog-text">
                                    <h6></h6>
                                    <h5>January 2019</h5>
                                    <h2>Productivity Improvement using software automation</h2>
                                    <p>In today ever challenging manufacturing sector, where time is money,
                                        software automation has become increasingly important (if not vital) for
                                        survival.</p>
                                    <span>Read Time: 4 minutes</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


        <!--<div class="col-md-8 col-md-offset-2 text-center vi-eye" style="margin-top:10px;">
      <a href="http://www.akscellenceinfo.com/blog1/">
        <button class="sim-button button-grey"><span>View all</span></button>
      </a>
    </div>-->


    </div>
</div>