<div class="career-test-section" style="background: #ebebeb;">
  <br />

  <div class="containers" style=" margin-left: 6px;">
    <div class="row">
      <div class="col-md-offset-1 col-md-6  career-section">
        <h1 class="career-heading">
          Explore Careers at Akscellence
        </h1>
        <p class="career-desc">
          We care about our people and offer you an ecosystem
          <br class="hidden-xs hidden-sm">
          that enables you to build a career with us.
        </p>
        <h6><a routerLink="life-at-Aks">Life at Akscellence <span class="arrow"
              style="color:#e2043c; margin-left:90px; "><i class="fas fa-arrow-right"></i></span></a></h6>
        <h6><a routerLink="aboutus">About Us <span class="arrow" id="arrow2"
              style="color:#e2043c; margin-left:195px;"><i class="fas fa-arrow-right"></i></span></a></h6>
        <h6><a routerLink="experience-professional">EXPERIENCED PROFESSIONALS <span class="arrow" id="arrow1"
              style="color:#e2043c; margin-left:10px;"><i class="fas fa-arrow-right"></i></span></a></h6>
        <img src="../../assets/images/akscellence-career-pencil.png" alt="akscellence joinus"
          class="img-responsive career-img hidden-xs">
      </div>
      <div class="col-md-5 testimonial-section" style="height:452px;">
        <!--<img src="/akscellence/img/bluetwitter.png" alt="" class="twiiter-share-img">-->
        <h1>Latest in Analytics</h1>
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-3 col-md-offset-1 col-xs-5">
                <img src="#" alt="" class="img-responsive">
              </div>
              <div class="col-md-8 col-xs-6 test-img-text">
                <!--<h6>Akscellence</h6>-->
                <p class="test-name"></p>
                <p class="test-date"></p>
              </div>
              <div class="col-md-8 col-xs-12 col-md-offset-2">
                <p class="text-desc">
                  <a href="" style="text-decoration:none;">
                    <span class="s1"></span>
                    <ol style="text-align:center;font-size:18px;margin-top:-13%;">
                      <!-- <li>Pleased to share that we are now NASSCOM member.</li>
                      <li> Second 2019 Employee of the Quarter awarded to Ajay Gangwar, Senior Software
                        Developer</li> -->
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.
facebook.com%2Fakscellence%2F&tabs=timeline&width=340&height=500&
small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="380" height="310"
                        style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"
                        allow="encrypted-media" ></iframe>
                    </ol>
                  </a>
                </p>
              </div>

              <div class="col-md-1 col-md-offset-1">

              </div>
            </div>
            <!-- <div class="item">
              <div class="col-md-3 col-md-offset-1 col-xs-5">
                <img src="#" alt="" class="img-responsive">
              </div>
              <div class="col-md-8 col-xs-6 test-img-text">
                <h6>Akscellence</h6>
                <p class="test-name"></p>
                <p class="test-date"></p>
              </div>
              <div class="col-md-8 col-xs-12 col-md-offset-2">
                <p class="text-desc">
                  <a href="" style="text-decoration:none;">
                    <span class="s1"></span>
                    <ol style="text-align:center;font-size:18px;margin-top:-13%;">
                      <li>We are now affiliate to Sitecore</li>
                      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.
facebook.com%2Fakscellence%2F&tabs=timeline&width=340&height=500&
small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="380" height="310"
                        style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"
                        allow="encrypted-media" ></iframe>
                    </ol>
                  </a>
                </p>
              </div>

              <div class="col-md-1 col-md-offset-1">
              </div>
            </div> -->

            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a> -->
            <!-- <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>