<header>
  <div id="section_1" style="margin-top:-3px;">
    <div class="container-fluid about-bann-section" title="Akscellence Info">
      <div class="row">
        <div class="col-md-12">
          <div class="outer-valign">
            <div class="inner-valign">
              <div class="about-banntext">
                <h3 class=""><b>IT SERVICES <br>FOR <br>BUSINESS GROWTH</b></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!-- <app-overview></app-overview> -->
<app-our-clientele></app-our-clientele>
<app-bi-card></app-bi-card>
<app-sitecore-card></app-sitecore-card>
<app-clielt-testimonial></app-clielt-testimonial>
<app-join-us></app-join-us>