

body{
   background: #ecececdb!important;
}
.about-bann-section {
    /* background-image: url(http://akscellenceinfo.com/media/1503/about-banner.png); */
    background-image: url(../../assets/images/about-banner.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    width: 100%;
    height: 525px;
    margin-top: -141px;
    position: relative;
    /* background-size: 100%; */
  }

  .about-bann-section .col-md-12 {
    padding-left: 0;
    padding-right: 0;
    /* background-image: url(img/about-banner1.png);  */
  }
  .button-grey{
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
#connectwithme{
  background-color: #ebebeb;
  color: #1f1f1f;
  margin-left: 45%;
  width: 189px;
  border-radius: 0;
  font-size: 17px;
  text-align: left;
  font-family: UniviaPro-Light;
}
#connectwithme:hover{
  background-color: #EBEBFB;
}
@media screen and (max-width:425px){
  #connectwithme{
    margin-left: 112px!important;
    margin-top: 19%!important;
    position: absolute
  }
}

  .about-bann-section .col-md-12 .outer-valign {

    display: table;
    height: 525px;
    width: 100%;
  }

  .about-bann-section .col-md-12 .outer-valign .inner-valign {
    display: table-cell;
    vertical-align: middle;
  }

  .about-bann-section .col-md-12 .outer-valign .inner-valign .about-banntext h1 {
    font-family: "UniviaPro-Light";
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-left: 42px !important;
    letter-spacing: 2px;
    line-height: 1.4;

  }

  .about-bann-section .col-md-12 .outer-valign .inner-valign .about-banntext h3 {
    font-family: "UniviaProRegular";
    font-size: 25.5px;
    text-align: center;
    margin: 10px;
    margin-left: 42px !important;
    letter-spacing: 3px;
    line-height: 1.4;
  }
@media screen and (max-width:425px){
  .about-bann-section .col-md-12 .outer-valign .inner-valign .about-banntext h3{
    margin-left: 146px !important;
    text-align: right!important;
    letter-spacing: 2px!important;
    line-height: 1.5!important;
    padding-top: 17px!important;
  }
}
  /*-------------------------------------------------------------------------------------------------*/
  /* SECOND LEVEL */
  .navbar-default1 .nav>ul>li>ul {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0 1000em;
    /* trick from css-tricks comments */
    margin: 0 -1000em;
    /* trick from css-tricks comments */
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    /* background: rgba(255, 240, 240, 0.8) url(../img/dropdown-bg.jpg) no-repeat 50% 50% right bottom; */
    height: 200px;
  }

  .navbar-default1 .nav>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    left: 0;
  }

  .navbar-default1 .nav>ul>li>ul>li {
    padding: 3px 0;
  }

  .navbar-default1 .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .navbar-default1 .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #333;
    background: none !important;
  }

  .navbar-default1 .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
  }

  p {
    margin: 0 0 10px;
    font-family: "CoreSansR25Light";
    font-size: 17px;
    color: #000;
    text-align: justify;
    padding-bottom: 2em;
    letter-spacing: 1px;
    line-height: 1.4;
  }

  h4 {
    font-size: 18px;
    font-family: "CoreSansR35Regular";
    margin-top: 8px;

    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3;

    font-weight: 800;
  }