<!--==================main banner=======================-->
<section id="career-life-avend" class="career-life-avend">
  <div class="life-avend-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="outer-valign">
            <div class="inner-valign">
              <div class="life-avend-bann-text">
                <h1><b>Current Openings</b></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<!--===========end of main banner===========================-->

<div class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="careerIntro">
        <div>
          <h4>
            As a global IT innovator, we are looking for talented individuals to
            join our team – from recent college grads to industry veterans.
            Whether you are looking for a full-time, part-time, consulting, or
            contract position, we have a host of opportunities for you to
            explore.Any resource on H1 Visa also is welcome to join us. Our
            company can do H1 transfer. We offer better than market salary plus
            benefits and GC (process to start right away) etc.
          </h4>
        </div>
        <div class="col-md-12 box-square wow fadeInLeftSubtle   animated"
          style="visibility: visible; animation-name: fadeInLeftSubtle;font-size:18px!important;">
          <div class="col-md-4 current_opening">
            <h4 style="font-family:CoreSansR35Regular;font-size:23px;">
              Current Openings
            </h4>
            <ul class="nav nav-pills nav-stacked" *ngFor="let item of current">
              <li class="itemClass">
                <a data-toggle="tab" (click)="show(item.id)">
                  {{ item.titel }}
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content col-md-7">
            <div id="menu" class="tabClass" *ngFor="let item of current" [hidden]="item.hide">
              <!-- {{ajay}} -->
              <ng-container *ngIf="ajay === 1">
                <h3>We are Hiring - Oracle Technical/Functional Consultant - Any Module</h3>
                <ul style="word-spacing:1px;line-height:1.7;list-style: none;" *ngFor="let dis of item.dis"
                  [hidden]="item.hide">
                  <li class="careertext" innerHTML=""><strong>Job Location : </strong>Bangkok/Gurgaon, Haryana</li>
                  <li class="careertext" innerHTML=""><strong>Job Overview : </strong>Oracle Technical/Functional
                    Consultant – Any Module</li>
                  <li class="careertext" innerHTML=""><strong>Customer : </strong>US Client</li>
                  <li class="careertext" innerHTML=""><strong>Language : </strong>Fluency in Thai and English</li>
                  <li class="careertext" innerHTML=""><strong>No. Of Positions : </strong>4-5</li>
                  <li class="careertext" innerHTML=""><strong>Experience : </strong>4+ Years</li>
                  <li class="careertext" innerHTML=""><strong>Budget : </strong>As per company standard</li>
                  <li class="careertext" innerHTML=""><strong>Skill's Required : </strong>
                    <ol>
                      <li><span>4+ Years of Experience in any module of Oracle ERP R12 Module can be either Order
                          Management or Finance or Manufacturing or Supply Chain Management etc
                          Even someone with good experience in a single module is OK so far it's part of Oracle ERP R12
                          Product.</span></li>
                      <li><span>Experience in product Oracle ERP R12 is MUST. We don’t require any Oracle DBA but ONLY
                          Oracle ERP developer.</span></li>
                    </ol>
                  </li>
                  <li class="careertext" innerHTML=""><strong>Required Qualifications : </strong>Bachelor Of Technology degree or equivalent experience.</li>
                  <li class="careertext" innerHTML=""><strong>Contact Us : </strong><span>Interested applicants, please
                      share your profile at <a href="mailto:pranay@akscellenceinfo.com">pranay@akscellenceinfo.com</a>
                      or you can reach me at my Mobile# +91-98112-33516, Our Client is very eager to screen profiles
                      quickly and get started on this asap. Thanks...</span></li>
                </ul>
              </ng-container>
              <ng-container *ngIf="ajay === 2">
                <h3>We are Hiring - DotNet + React - Dot Net Framework, ASP.NET, C# for Hyderabad</h3>
                <ul style="word-spacing:1px;line-height:1.7;list-style: none;" *ngFor="let dis of item.dis"
                  [hidden]="item.hide">
                  <li class="careertext" innerHTML=""><strong>Job Location : </strong>Hyderabad</li>
                  <li class="careertext" innerHTML=""><strong>Job Overview : </strong>DotNet + React - Dot Net
                    Framework, ASP.NET, C#</li>
                  <li class="careertext" innerHTML=""><strong>Customer : </strong>One of the Best IT Company in India
                  </li>
                  <li class="careertext" innerHTML=""><strong>No. Of Positions : </strong>4-5</li>
                  <li class="careertext" innerHTML=""><strong>Experience : </strong>3-8 Years</li>
                  <li class="careertext" innerHTML=""><strong>Budget : </strong>As per company standard</li>
                  <li class="careertext" innerHTML=""><strong>Skill's Required : </strong>
                    <ol>
                      <li><strong>Database skills - </strong><span>SQL programming, Microsoft SQL Server, NoSQL,
                          DocumentDB</span></li>
                      <li><strong>Scripting - </strong><span>JavaScript</span></li>
                      <li><span>Project Management</span></li>
                      <li><span>Service-Oriented Architecture (SOA), Web Services</span></li>
                      <li><span>MVC and MVVM Architectures</span></li>
                      <li><span>JavaScript, JavaScript object model</span></li>
                      <li><span>React.js and its core principles</span></li>
                      <li><span>React Native</span></li>
                      <li><span>Typescript</span></li>
                    </ol>
                  </li>
                  <li class="careertext" innerHTML=""><strong>Required Qualifications : </strong>Bachelor Of Technology degree or equivalent experience.</li>
                  <li class="careertext" innerHTML=""><strong>Contact Us : </strong><span>Interested applicants, please
                      share your profile at <a href="mailto:pranay@akscellenceinfo.com">pranay@akscellenceinfo.com</a>
                      or you can reach me at my Mobile# +91-98112-33516, Our Client is very eager to screen profiles
                      quickly and get started on this asap. Thanks...</span></li>
                </ul>
              </ng-container>
              <ng-container *ngIf="ajay === 3">
                <h3>We are Hiring - Microsoft Power BI Developer - Data Visualization & Analysis</h3>
                <ul style="word-spacing:1px;line-height:1.7;list-style: none;" *ngFor="let dis of item.dis"
                  [hidden]="item.hide">
                  <li class="careertext" innerHTML=""><strong>Job Location : </strong>Gurgaon, Haryana</li>
                  <li class="careertext" innerHTML=""><strong>Job Overview : </strong>Microsoft Power BI Developer -
                    Data Visualization & Analysis</li>
                  <li class="careertext" innerHTML=""><strong>Responsibilities & Duties : </strong>
                    <ol>
                      <li><span>0 - 2 years experience developing Power BI solutions and reporting</span></li>
                      <li><span>0 - 2 years experience in Data Visualization and Analysis</span></li>
                      <li><span>0 - 2 years experience in Excel Pivot/vLookup/Reports etc.</span></li>
                      <li><span>Experience working with dataset ingestion, data model creation, reports, dashboards,
                          KPIs, Power BI Pro features, workspaces, security, etc.</span></li>
                    </ol>
                  </li>
                  <li class="careertext" innerHTML=""><strong>Preferred Qualifications : </strong>
                    <ol>
                      <li><span>ETL, SSAS and SSIS experience.</span></li>
                      <li><span>Strong data modeling experience.</span></li>
                      <li><span>Experience in building data marts.</span></li>
                      <li><span>Experience working with a variety of stakeholders, from managers to technical resources,
                          to include the translation of business requirements into operational measures and
                          reports.</span></li>
                      <li><span>AgileScrum project experience nice to have.</span></li>
                      <li><span>High level of demonstrable proficiency with Microsoft Excel, including Power Query,
                          Power Pivot.</span></li>
                      <li><span>Connections to external data sources, REST APIs, pivot tables, charts, and
                          slicers.</span></li>
                      <li><span>Proven ability to create, publish, and manage content packs.</span></li>
                      <li><span>Deep understanding of security as it pertains to data access, scope, and distribution of
                          reports and Dashboards.</span></li>
                    </ol>
                  </li>
                  <li class="careertext" innerHTML=""><strong>Contact Us : </strong><span>Interested applicants, please
                      share your profile at <a href="mailto:pranay@akscellenceinfo.com">pranay@akscellenceinfo.com</a>
                      or you can reach me at my Mobile# +91-98112-33516, Thanks...</span></li>
                </ul>
              </ng-container>
              <ng-container *ngIf="ajay === 4">
                <h3>We are Hiring - Azure Cloud Lead with up to 10 Years of Experience on Data Factory, Lake, Brick and
                  Synapse</h3>
                <ul style="word-spacing:1px;line-height:1.7;list-style: none;" *ngFor="let dis of item.dis"
                  [hidden]="item.hide">
                  <li class="careertext" innerHTML=""><strong>Job Location : </strong>Gurgaon, Haryana</li>
                  <li class="careertext" innerHTML=""><strong>Job Overview : </strong>Azure Cloud Lead with up to 10
                    Years of Experience on Data Factory, Lake, Brick and Synapse</li>
                  <li class="careertext" innerHTML=""><strong>Responsibilities & Duties : </strong>
                    <ol>
                      <li><span>Ability to understand the client requirements and be able to work independently, as part
                          of a distributed team across geographies.</span></li>
                      <li><span>Ability to move data from any sources to Azure Blob/Data Lake/Azure SQLDB/Azure SQL
                          DW.</span></li>
                      <li><span>Should be able to implement Azure Data Factory, Pipelines, U-SQL.</span></li>
                      <li><span>Should have a strong understanding on ETL/Data warehousing.</span></li>
                      <li><span>Ability to write SQL Queries</span></li>
                      <li><span>Should be able to learn new technologies and cross-skill as per project need</span></li>
                    </ol>
                  </li>
                  <li class="careertext" innerHTML=""><strong>Preferred Qualifications : </strong>
                    <ol>
                      <li><span>Required Qualifications BTech/MTech or equivalent degree.</span></li>
                    </ol>
                  </li>
                  <li class="careertext" innerHTML=""><strong>Contact Us : </strong><span>Interested applicants, please
                      share your profile at <a href="mailto:pranay@akscellenceinfo.com">pranay@akscellenceinfo.com</a>
                      or you can reach me at my Mobile# +91-98112-33516, Thanks...</span></li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------------>