/*===========main banner======================*/
#career-life-avend .life-avend-banner {
    background: url(../../assets/images/about-banner1.png) no-repeat 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 30% 50%;
   width: 100%;
   height: 525px;
   position: relative;
}
.container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.row {
   margin-left: -15px;
   margin-right: -15px;
}
#career-life-avend .life-avend-banner .col-md-12 {
   display: flex;
   align-items: center;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign {
   display: table;
   height: 525px;
   width: 100%;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign {
   display: table-cell;
   vertical-align: middle;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign .life-avend-bann-text h1 {
   text-align: center;
   font-family: "UniviaProUltraLight";
   margin-bottom: 138px;
   color:black;
   font-size: 40px;
   letter-spacing: 2px;
}
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign .life-avend-bann-text p {
   font-family: "CoreSansR35Regular";
   font-size: 18.75px;
   text-align: center;
   letter-spacing: 1px;
   padding-bottom: 5px;
   line-height: 1.4;
}
 @media screen and (max-width: 767px){
#career-life-avend .life-avend-banner .col-md-12 .outer-valign .inner-valign .life-avend-bann-text h1{
margin-top:-23vh;
}
}

@media(max-width:768px){
ul{
 display:inline-block;
}
   ul li{
   width:100%;
   }
   
}
/*=============end of main banner============================================*/
.mainContent p {
    font-family: "CoreSansR25Light";
    font-size: 17px;
    color: #000;
    text-align: justify;
    padding-bottom: 2em;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-top: -73px;
  }
 @media screen and (max-width: 767px){
    .mainContent p{
      font-size: 17px;
        margin-top:20px;
    }
 }

 /* Pre Loader */

 .spinner {
   border: 12px solid red;
   border-top: 12px solid #337AB7;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   animation: spin 700ms linear infinite;
   top:50%;
   left:50%;
   position: absolute;
 }
 @keyframes spin {
   0% { transform: rotate(0deg) }
   100% { transform: rotate(-360deg) }
 }